.breadcrumb{
    border-bottom : 0.5px solid #929292;
}

h2{
    /*margin-bottom : 70px;*/
}

article{
    flex-wrap : wrap;
}

article .profile{
    width : 300px;
    display : flex;
    flex-direction: column;
    align-items : center;
}

article .profile .image{
    margin-bottom : 20px;
}

article .profile .update-btn button{
    color : #fff;
    background-color : #959fb1;
    width : 130px;
    height : 35px;
    box-shadow : 1px 5px 7px 0px rgba(0,0,0,0.15);
    border : 0;
    font-weight : 700;
    border-radius : 2px;
}

article .profile p{
    color : rgba(0,0,0,0.5);
    text-align : center;
    width : 230px;
    margin-top : 30px;
    word-break: keep-all;
    line-height : 2em;
}

h3 > p {
    margin-top : 15px;
    font-weight : 400;
}

article ul {
    flex-wrap : wrap;
}

article ul li{
    padding-left : 7px;
    border-bottom : 1px solid #dee2e6;
    width : 250px;
    margin-right : 22px;
    margin-bottom : 30px;
}

article ul li:nth-child(3n){
    margin-right : 0;
}

article .detail{
    padding: 40px;
    width : 950px;
}

article .detail .title{
    color : #fb5f33;
    font-weight : 700;
    margin-bottom : 20px;
}

article .detail .desc.only{
    margin-top : 33px;
}

article .detail .desc{
    padding-bottom : 10px;
    width: 100%;
}

article .detail .long{
    width : calc(285px + 285px + 22px);
}

article .default > h3{
    margin-bottom : 30px;
}

article .phone > h3{
    margin-bottom : 25px;
}

article .password > h3{
    margin-bottom : 20px;
}

article .password button{
    width : 135px;
    height : 50px;
    font-weight: 700;
    font-size : 16px;
    float : right;
}

article .password.update h3{
    margin-right : 50px;
}

article .password.update h3 + button{
    background-color : #959fb1;
    width : 115px;
    font-weight: 700;
    font-size : 13px;
}

.down-pointing-black:after, .up-pointing-black:after{
    font-size : 6px;
    margin-left : 13px;
}

article .password.update > .title{
    display : flex;
    align-items: center;
    margin-bottom: 35px;
}

.detail input{
    border : 0;
}

.password.update > ul{
    display : none;
    transition : all 1s;
    -webkit-transition : all 1s;
}

.password.update > ul.on{
    display : flex;
}

.password.update li{
    position : relative;
}

.password.update li:before{
    position : absolute;
    bottom : 10px;
    right : 0;
    background-image : url('../../img/icons/eye-gray.png');
    width : 16px;
    height : 10px;
    display : inline-block;
    content : '';
}

.password.update li.correct{
    border-bottom : 1px solid #56a5b4;
}

.password.update li.correct:after{
    content : '일치';
    color : #56a5b4;
    font-weight : 700;
    position : absolute;
    bottom : -22px;
    right : 0;
    padding-right : 15px;
    background-image : url('../../img/icons/checked-green.png');
    background-position : center right;
    background-repeat : no-repeat;
    margin-right : 6px;
}

.password.update li.incorrect{
    border-bottom : 1px solid #fb5f33;
}

.password.update li.incorrect:after{
    content : '비밀번호 불일치';
    color : #fb5f33;
    font-weight : 700;
    position : absolute;
    bottom : -22px;
    right : 0;
    padding-right : 15px;
    background-image : url('../../img/icons/no-red.png');
    background-position : center right;
    background-repeat : no-repeat;
    margin-right : 6px;
}

.password.update li.on:before{
    background-image : url('../../img/icons/eye.png');
}

.password.update .btn-wrap{
    display : flex;
    justify-content: flex-end;
    margin-top : 60px;
}

.password.update .btn-wrap button{
    width : 135px;
    height : 50px;
}

.password.update .btn-wrap .btn-gray{
    margin-right : 10px;
}




