header{
    margin-top : 110px;
    margin-bottom : 15px;
}

header .logo{
    margin-bottom : 50px;
}

header .description{
    align-items: center;
}

header .description span{
    margin-right : 3px;
}

header .description span:last-child{
    margin-right : 20px;
}

section{
    padding : 0;
    background-color : #fff;
}

.left{
    width : 680px;
    height : 450px;
    position : relative;
    background-image : url("../img/login/left_bg.jpg");
    /*background-image : url("../img/login/left_bg.jpg");*/
    background-repeat : no-repeat;
    background-size : 100%;
}

.left > div{
    position : absolute;
    top : 0;
    left : 0;
    color : #fff;
    display : flex;
    flex-direction: column;
    flex-wrap : wrap;
    width : 340px;
    height : 100%;
    align-items: center;
    justify-content: center;
    background-color : rgba(0,0,0,0.6);
}

.left > div > p {
    font-size : 18px;
}

.left > div > h1 {
    font-size : 36px;
    margin : 15px 0 10px;
    border-bottom : 3px solid #fb5f33;
}

.login{
    padding-bottom : 13px;
    border-bottom : 1px solid #ddd;
    margin-bottom : 14px;
}


.right{
    width : 300px;
}

h2{
    font-size : 15px;
    border-bottom : 2px solid #fb5f33;
    padding-bottom : 5px;
    margin-bottom : 15px;
    display : inline-block;
}

.login > div{
    display : flex;
    justify-content: space-between;
    align-items: center;;
    font-weight : 700;
}

.number{
    font-size : 13px;
    margin-bottom : 4px;
}

.number > a{
    display : inline-block;
    height : 14px;
}

.number > a:first-child{
    padding-right : 6px;
    margin-right : 5px;
    border-right : 1px solid #8d8d8d;
}

.time{
    color : #666;
    margin-bottom : 28px;
    font-size : 13px;
    letter-spacing: -0.5px;
}

.notice li>div{
    display : flex;
    align-items: center;
}

.notice li>div:first-child:before{
    content : '';
    display: inline-block;
    width: 2px;
    height: 2px;
    background-color : #fb5f33;
    margin-right : 5px;
}

.notice li{
    margin-bottom : 10px;
    display : flex;
    justify-content: space-between;
    height : 13px;
}

.notice li:last-child{
    margin-bottom : 0;
}
