.contents-description{
    align-items: center;
    font-size : 13px;
    display : flex;
    justify-content: flex-end;
    margin-top: -50px;
    padding-top: 14px;
    padding-bottom : 8px;
}

.red-mini-box{
    margin-right : 3px;
}

.red-mini-box:first-child{
    margin-left : 4px;
}

h2{
    font-size : 15px;
    padding-top : 25px;
    padding-bottom : 15px;
    justify-content: space-between;
}

h2 a{
    display : inline-block;
    height : 18px;
}

/* 더보기 */
.more{

    display : flex;
    justify-content: space-between;
    flex-direction: column;
}

.more .dot{
    display : inline-block;
    width : 3px;
    height : 3px;
    background-color : #999;
    margin-right : 20px;
}

.notice .dot{
    margin-right : 0;
}

/* 공지사항 체크 (첫번째박스)*/
.check{
    padding : 20px 0;
    display : flex;
    background-color : #fff;
    border-radius : 5px;
}

.check > div{
    width : 50%;
}

.check .notice{
    padding : 0 20px;
}

.check .notice .more{
   padding-right:5px;
}

.check h2{
    padding-top : 0;
}

.check .notice ul{
    border-top : 1px solid #ddd;
    border-bottom : 1px solid #ddd;
	padding:0 5px;
}

.check .notice li{
    margin : 15px 0;
}

.check .notice li a{
    display : flex;
    justify-content: space-between;
}

.check .notice li .title{
    font-size : 13px;
}

.check .notice li .date{
    font-size : 11px;
    color : #000;
}


.check .box{
    padding : 0 30px;
}

.check .box > div{
    flex : 1;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.check .box .detail{
    border-radius : 5px;
    border : 1px solid #ddd;
    border-top : 2px solid #999;
    margin-right : 10px;
}

.check .box > div > div:first-child{
    font-weight: 700;
    font-size : 13px;
    margin-top : 13px;
    margin-bottom : 28px;
}

.check .box > div > div:last-child{
    font-size : 30px;
    font-weight : 700;
    color : rgba(0,0,0,0.5);
    height: 45px;
    display: flex;
    align-items: flex-end;
}

.check .box .cok{
    background-color: #fb5f33;
    color : #fff;
    border-radius : 5px;
    cursor : pointer;
}

.check .box .cok > div:last-child{
    color : #fff;
}

.flex-1{
    flex : 1;
}

/* 왼쪽, 오른쪽 반반 나눔 */
.left{
    padding-right : 13px;
}

.right{
    padding-left : 13px;
}

/* 진행중 요청내역 */
.ing .content > div, .complete .content > div{
    padding : 20px;
    margin-right : 25px;
    box-shadow : 1px 5px 7px 0px rgba(0,0,0,0.15);
}

.ing .content > div:last-child, .complete .content > div:last-child{
    margin-right : 0;
}


.content .top .clock{
    background-color : #959fb1;
    width : 67px;
    height : 74px;
    margin-right : 13px;
    box-shadow : 1px 5px 7px 0px rgba(0,0,0,0.15);
    display : flex;
    justify-content: center;
    align-items : center;
}

.clock + ul li{
    border : 1px solid #dee2e6;
    height : 35px;
    display : flex;
    justify-content: center;
    align-items: center;
    margin-bottom : 4px;
    font-weight : 700;
}

.clock + ul li:last-child{
    margin-bottom : 0;
}

.circle{
    width : 155px;
    height : 155px;
    display : flex;
    align-items: center;
    justify-content: center;
    margin : 60px auto;
    border-radius : 50%;
    font-size : 20px;
    font-weight : 700;
}

.circle.border-gray{
    border : 10px solid #f0f1f3;
}

.circle.border-red{
    border : 10px solid #fb5f33;
}

.btn-red, .btn-white{
    height : 50px;
    margin-bottom : 0;
    font-size : 16px;
    font-weight : 700;
}

.complete .list li{
    border : 1px solid #dee2e6;
    display : flex;
    align-items: center;
    justify-content: center;
    margin-bottom : 4px;
    font-weight : 700;
    height : 35px;
}

.questions-num{
    display : flex;
    justify-content: space-between;
    padding : 0 20px;
    align-items: center;
    width : 100%;
    height : 50px;
    border : 1px solid #999;
    font-size : 20px;
    font-weight : 700;
}

.questions-num > span{
    font-size : 16px;
    color : #fb5f33;
}

.graph{
    margin : 23px 0 18px;
}

.graph .stick,
.graph .title{
    display : flex;
}

.graph .stick{
    border-bottom  : 1px solid #dee2e6;
}

.graph .stick > li,
.graph .title > li{
    flex : 1;
}

.graph .title > li{
    color : rgba(0,0,0,0.5);
    margin-top : 15px;
    text-align : center;
}

.graph .stick > li{
    height : 110px;
    display : flex;
    justify-content: center;
    align-items: flex-end;
}

.graph .stick > li > div{
    width : 8px;
}

.graph .stick > li > div.bg-green{
    margin-right : 5px;
}

.recent > div{
    padding : 20px;
}

.recent ul{
    border-top : 1px solid #eee;
    border-bottom : 1px solid #eee;
    padding : 15px 5px;
}

.recent ul li{
    margin-bottom : 10px;
}

.recent ul li:last-child{
    margin-bottom : 0;
}

.recent ul li a{
    display : flex;
    justify-content: space-between;
}

.recent ul li a .title{
    font-size : 13px;
}

.recent ul li a .date{
    font-size : 11px;
    color : #000;
}

.share .bg-white{
    margin-right : 10px;
}

.share .bg-white:last-child{
    margin-right : 0;
}

.share .profile{
    display : flex;
    height : 200px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom : 1px solid #eaeaea;
}

.share .profile .image{
    margin-bottom : 20px;
}

.share .profile .name{
    margin-bottom : 13px;
}

.share .profile .professor{
    text-align : center;
}

.share .top{
    height : 30px;
    display : flex;
    align-items: center;
    justify-content: space-between;
    padding : 0 10px 0 15px;
    border-bottom : 1px solid #dee2e6;
}

.share .top .date{
    font-size : 12px;
    color : #aaa;
}

.share .top .btn-white{
    font-size : 12px;
    width :45px;
    height : 20px;
    border-radius : 20px;
    border : 1px solid #dee2e6;
}

.kind .content{
    flex : 1;
    margin-right : 25px;
}

.kind .content:last-child{
    margin-right : 0;
}

.kind .detail-title{
    font-size : 14px;
    font-weight : 700;
}

.kind .title{
    font-size : 13px;
    font-weight : 400;
    border-bottom : 1px solid #e5e8eb;
    height : 112px;
    padding : 20px;
    word-break : keep-all;
}

.kind .detail{
    height : 48px;
    color : #fff;
    background-color : #959fb1;
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding : 0 20px;
    border-radius : 0 0 5px 5px;
}

.kind .num{
    font-size : 14px;
    font-weight: 800;
    text-align : right;
}

.kind .bg-white{
    margin-bottom : 1em;
    box-shadow : 1px 5px 7px 0px rgba(0,0,0,0.15);
}

.kind .bg-white + div{
    font-size : 14px;
    margin-left : 4px;
}

/* no_contents */

.no_contents .ing .top, .no_contents .ing .btn{
    display : none;
}

.no_contents .ing .middle{
    flex-direction: column;
    height : 440px;
}

.no_contents .ing .middle .circle{
    margin : 0;
}

.no_contents .ing .middle .title{
    font-size : 13px;
    margin-bottom : 35px;
}

.no_contents .recent .no{
    height : 190px;
    font-size : 13px;
    display : flex;
    align-items: center;
    justify-content: center;
    border-top : 1px solid #dee2e6;
    border-bottom : 1px solid #dee2e6;
}

.no_contents .kind .content .title{
    padding : 0;
    display : flex;
    justify-content: center;
    align-items: center;
}

