/* 원형 progresss bar */
.circle-graph {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.circle-graph.disabled .circle-chart-circle {
  display: none;
}

.circle-graph.color-green .circle-chart-circle {
  stroke: #2da490;
}

.circle-graph.color-green .circle-chart-circle {
  stroke: #2da490;
}

.circle-graph.color-green .circle-chart-info .circle-chart-num {
  fill: #2da490;
}

.circle-graph {
  flex: 1 1 0px;
}

.circle-graph:last-child {
  margin: 0;
}

.circle-graph .title {
  margin-top: 12.93%;
  line-height: 1.83;
  font-size: 12px;
  font-weight: 600;
  color: #444;
  text-align: center;
}

.circle-graph .circle {
  height: 100%;
}

.circle-graph .circle svg:not(:root) {
  overflow: visible;
}

.circle-chart {
  width: 120px;
  height: 120px;
}

@media screen and (min-width: 1200px) {
  .circle-chart {
    width: 155px;
    height: 155px;
  }
}

.circle-chart-circle {
  stroke-linecap: round;
  stroke: #fb5f33;
  stroke-width: 2.5px;
  fill: none;
  transform: rotate(-86deg);
  /* 2, 3 */
  transform-origin: center;
  -webkit-transform: rotate(-86deg);
  -webkit-transform-origin: center;
}

.circle-chart-background {
  stroke-width: 2.5px;
  stroke: #f0f1f3;
  fill: none;
}

.circle-chart-info {
  position: relative;
}

.circle-chart-info .circle-chart-num {
  font-size: 5px;
  font-weight: 600;
  text-anchor: end;
  fill: #fb5f33;
}

.circle-chart-info .circle-chart-total {

  font-size: 5px;
  font-weight: 600;
  text-anchor: start;
  fill: #222;
}

.circle-chart-info .circle-chart-subline {
  font-size: 3px;
  text-anchor: middle;
  fill: #aaa;
  letter-spacing: 0.02em;
}

.circle-info-wrap {
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 170px;
  font-size: 12px;
  color: #888;
  line-height: 1.5;
}

.circle-info-wrap .item {
  position: relative;
  padding-left: 6%;
  margin: 2px 0;
}

.circle-info-wrap .item:before {
  position: absolute;
  top: 0;
  left: 2%;
  content: "Â·";
}

.circle-info-wrap .item .text {
  display: inline-block;
}

.circle-update-text {
  position: absolute;
  left: 0;
  bottom: 15px;
  width: 100%;
  font-size: 11px;
  color: #a5a4a4;
  text-align: left;
}
