.btn-close{
    background-color: #fb5f33;
    border: 0;
    border-radius: 2px;
    padding: 8px 12px;
    margin: 2px;
    font-weight: 700;
    font-size: 12px;
    box-shadow: 1px 5px 7px 0px rgba(0,0,0,0.15);"
}
