.sub{
    margin-bottom : 35px;
}

.sub ul{
    display : flex;
    border-bottom : 1px solid #e6e9ec;
}

.sub li{
    color : #999;
    font-weight: 700;
}

.sub li a{
    display : inline-block;
    padding : 0 25px 15px;
}

.sub li.on{
    color : #000;
    border-bottom : 3px solid;
}

.search-wrap .btn-wrap button{
    width : 115px;
    height : 35px;
    font-weight: 700;
    font-size : 12px;
}

.search-wrap .btn-wrap .btn-red{
    margin-right : 15px;
}

i.upload{
    margin-right : 10px;
}

i{
    display : inline-block;
}

table .up, table .down{
    position : static;
    border-style : initial;
    border-width : 0;
}
table .no-l-line {border-left:0 !important;}
tbody td:nth-child(3){
    text-align : center;
    /*padding-left : 0;*/
}

tr.middle, tr.subclass , tr.lowclass{
    background-color : #f7f7f7;
}

tr .name{
    text-align : left !important;
    padding-left : 44px;
}

tr.middle .name{
    padding-left : 96px;
}

tr.subclass .name{
    padding-left : 150px;
}
tr.lowclass .name{
    padding-left : 204px;
}
/*
tr .name{
    display : flex;
    align-items: center;
}
*/
tr .name input{
    width : 330px;
    padding-bottom : 8px;
    border : 0;
    border-bottom : 1px solid #dee2e6;
    background-color : inherit;
    height : 30px;
}

tr .name .btn-red{
    width : 80px;
    height : 30px;
    font-size : 12px;
    margin-bottom : 0;
}

table .management {text-align:left; padding-left:40px;}
table .management button{
    margin-right : 30px;
}

table .management button:last-child{
    margin-right : 0;
}
tr .first-name  {padding-left:44px; border-left:0 !important;}
tr .flex-sec {
    display : flex;
    align-items: center;
}

tr .first-name .flex-sec input{
    width : 330px;
    padding-bottom : 8px;
    border : 0;
    border-bottom : 1px solid #dee2e6;
    background-color : inherit;
    height : 30px;
}

tr .first-name .flex-sec .btn-red{
    width : 80px;
    height : 30px;
    font-size : 12px;
    margin-bottom : 0;
}


tr.edit-mode .btn-red{display:inline-block; margin:0 5px;
    width : 80px;
    height : 30px;
    font-size : 12px;
}
tr.edit-mode .btn-gray{display:inline-block; 
    width : 80px;
    height : 30px;
    font-size : 12px;
	margin-bottom:0;
}



.confirm_line td {border:0;border-bottom: 1px solid #dee2e6;}
.confirm_line td .flex-sec {padding-left: 184px;}
.confirm_line.type4 td .flex-sec {padding-left: 254px;}
.confirm_line.type2 td .flex-sec {padding-left: 114px;}
.confirm_line td .flex-sec  input{
    width : 330px;
    padding-bottom : 8px;
    border : 0;
    border-bottom : 1px solid #dee2e6;
    background-color : inherit;
    height : 30px;
	background:none;
}
.confirm_line td .flex-sec .btn-red{
    width : 80px;
    height : 30px;
    font-size : 12px;
    margin-bottom : 0;
}

.repeat_line .no-bd {border:0 !important;}
.main-line .no-bd { display:none;}
.mid-line td {background:#f7f7f7;}
.mid-line td.mid-name {padding-left:96px; text-align:left;}
.mid-line td.sub-name {padding-left:150px; text-align:left;}
.mid-line td.low-name {padding-left:204px; text-align:left;}

