.search-wrap .btn-wrap button{
    width : auto;
    height : auto;
}

.search-wrap .btn-wrap button.btn-card-list{
    margin-right : 15px;
}


.d-card-list ul{
    display : flex;
    flex-wrap : wrap;
}

.d-card-list ul li{
    margin-right : 18px;
    margin-bottom : 25px;
    border : 1px solid #d4dce8;
    width : 232px;
}

.d-card-list ul li:nth-child(5n){
    margin-right : 0;
}

.d-card-list ul li .content{
    position : relative;
    height : 130px;
    padding : 20px 25px;
    background:#f0f3f8;
	text-align:center;
	cursor:pointer;
}

.d-card-list ul li .content > div{
   font-size : 16px;
   font-weight:bold;
   color:#000000;
   line-height:90px;
}

.d-card-list ul li .content button{
    position : absolute;
    bottom : 15px;
    right : 15px;
    font-size : 12px;
    color : #fff;
    background-color : #4a9faf;
    border-radius : 40px;
    width : 80px;
    height : 30px;
    display : flex;
    align-items: center;
    justify-content: center;
}

.d-card-list ul li .content button .search{
    margin-right : 10px;
}

.d-card-list ul li .btn-wrap{
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding : 0 20px;    
    height : 60px;
	background:#959fb1;
}

.d-card-list ul li.add_card{
    display : flex;
    align-items: center;
    justify-content: center;
    background-color : #f0f1f3;
}

.pagination{
    margin-top : 45px;
}

.d-card-list.submenu-list ul li .content{
    height : 120px;
}