h2{
    margin-bottom : 35px;
}

.search-wrap{
    margin-bottom : 18px;
    justify-content: space-between;
    align-items: center;
}

.search-form form{
    display : flex;
}

.search-form .select2{
    width : 150px;
    margin-right : 10px;
}

.search-form button{
    border: 1px solid #dee2e6;
    background-color : #fff;
    width : 33px;
    height : 33px;
    display : flex;
    align-items: center;
    justify-content: center;
    border-radius : 2px;
}

table{
    width : 100%;
    font-size : 13px;
}

thead{
    font-size : 14px;
    font-weight : 700;
}

tbody tr{
    cursor : pointer;
}

tbody tr:hover{
    background-color : #fbf7f5;
}

tbody td.t-left{
    text-align : left !important;
    padding :0 15px !important;
}

th{
    position : relative;
}
tbody td.management button {margin:0 10px;}
.search .search-wrap{
    justify-content: space-between;
    align-items: center;
}

.search-btn-area {display:flex;}
.search-btn-area button{
    padding:0 15px;
    height : 35px;
    font-weight: 700;
    font-size : 12px;
	margin-right:15px;
}
.search-btn-area button.btn-white {width:auto;}
.search-btn-area button.btn-red {width:auto;}
.search-btn-area button:last-child {
    margin-right : 0;
}

.search td span{
    color : #4a9faf;
    font-weight : 800;
}
.btn-red-line {
	width:auto; padding:0 15px;
    height: 50px;
    font-size: 16px;
    font-weight: 700;
}
.btn-red {
    width: 145px;
    height: 50px;
    font-size: 16px;
    font-weight: 700;
}
.btn-white {
    width: 145px;
    height: 50px;
    font-size: 16px;
    font-weight: 700;
}
i.plus {
    margin-right: 10px;
}
.sort-wrap {background:#f7f7f7; border:1px solid #e6e9ec; box-sizing:border-box; margin-bottom:30px;}
.sort-wrap .sort-ex {border-bottom:1px solid #e6e9ec; justify-content: space-between; padding:10px 12px 10px 30px;}
.sort-wrap .sort-ex .btn-red {width:auto; margin:0;}
.sort-wrap .sort-ex .sort-tt {font-size:0; line-height:0;}
.sort-wrap .sort-ex .sort-tt span{font-size:14px; line-height:35px; display:inline-block; color:#000000; font-weight:bold; padding-right:25px; margin-right:15px; position:relative;}
.sort-wrap .sort-ex .sort-tt span:after {content:">"; position:absolute; top:0; right:0; }
.sort-wrap .sort-ex .sort-tt span:last-child {padding:0; margin:0;}
.sort-wrap .sort-ex .sort-tt span:last-child:after {display:none;}
.sort-wrap .sort-location {padding:10px 30px;}
.sort-wrap .loca-item {padding-right:80px; background:url(../../../img/icons/loca-arrow.png) calc(100% - 25px) 1px no-repeat;}
.sort-wrap .loca-item:last-child {background:none; padding:0;}
.sort-wrap .loca-item .select2-container--default .select2-selection--single ,.sort-wrap .loca-item select {background-color:transparent;}
.sort-wrap .loca-item .select2 {min-width : 90px;}

.sh-radio-wrap .radio-wrap{
    position :relative;
    margin-right : 20px;
}
.sh-radio-wrap {margin-bottom:20px;}
.sh-radio-wrap span {font-weight:600; color:#000; font-size:12px; margin-right:30px;}
.sh-radio-wrap .radio{
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width : 1px;
    height : 1px; display:none;
}

.sh-radio-wrap .radio + label{
    background-image : url('../../../img/icons/question_card/check.png');
    background-repeat : no-repeat;
    background-size: 20px;
    background-position: left center;
    display: flex;
	font-size:12px;
    align-items: center;
    height: 20px;
    padding-left: 30px;
}

.sh-radio-wrap .radio:checked + label{
    background-image : url('../../../img/icons/question_card/checked.png');
}
