.step-wrap{
    margin-top : 25px;
    margin-bottom : 220px;
}

.step-wrap li{
    border : 1px solid #e6e9ec;
    border-left : 5px solid #987f50;
    position : relative;
    padding-left : 30px;
    margin-bottom : 30px;
}

.step-wrap li:last-child{
    margin-bottom : 0;
}

.step-wrap li .btn-download{
    position : absolute;
    right : 30px;
    bottom : 20px;
}

.step-wrap li h4{
    font-size : 30px;
    font-weight : 800;
    color : #987f50;
    margin : 20px 0;
}

.step-wrap li p{
    font-size : 13px;
    color : #7a797d;
    margin : 20px 0;
    padding-left : 125px;
}

.step-wrap li p span{
    margin : 25px 0 35px;
    display : block;
}

i.download{
    background-image : url("${IMG}/icons/question_card/download.png");
    width : 10px;
    height : 11px;
    margin-right : 10px;
}

.btn-download{
    border : 1px solid #ccc;
    color : #999;
    width : 160px;
    height : 35px;
}

.color-blue{
    color : #4a9faf;
}

.btn-list{
    width : 160px;
    height : 50px;
    color : #999;
    font-size : 16px;
    font-weight : 700;
    border : 1px solid #999;
}

.btn-list i{
    margin-right : 10px;
}