.btn-gray{
    width : 135px;
    height : 50px;
    margin-right : 15px;
}

.reply{
    border-bottom : 2px solid #fb5f33;
}

.edit{
    padding-top : 0;
}

.edit .btn-wrap{
    margin-top : 40px;
}

.edit .title{
    display : flex;
    margin-top : 28px;
    margin-bottom : 18px;
}

.writeForm .select2{
    width : 200px;
    margin-right : 20px;
}

.writeForm input {
    flex : 1;
    height: 33px;
    margin-right: 10px;
    border-width: 1px;
    font-size: 13px;
    border: 0;
    outline: none;
    border-bottom: 1px solid #dee2e6;
}

.fr-element{
    height : 240px;
}

i.check-white{
    margin-right : 15px;
}

i.menu-bars {
    margin-right: 15px;
}

.btn-wrap .btn-white{
    color : #999;
}

.btn-wrap button{
    font-size : 16px;
    font-weight : 700;
}
