h2{
    margin-bottom : 35px;
}

.search-wrap{
    margin-bottom : 18px;
    justify-content: space-between;
    align-items : center;
}

.search-form form{
    display : flex;
}

.search-form .select2{
    width : 150px;
    margin-right : 10px;
}

.search-form button{
    border: 1px solid #dee2e6;
    background-color : #fff;
    width : 33px;
    height : 33px;
    display : flex;
    align-items: center;
    justify-content: center;
    border-radius : 2px;
}

table{
    width : 100%;
    font-size : 13px;
}

thead{
    font-size : 14px;
    font-weight : 700;
}

tbody tr{
    cursor : pointer;
}

tbody tr:hover{
    background-color : #fbf7f5;
}

tbody td:nth-child(4){
    text-align : left;
    padding-left : 45px;
}

th{
    position : relative;
}

.search .search-wrap{
    justify-content: space-between;
    align-items: center;
}

.search td span{
    color : #4a9faf;
    font-weight : 800;
}

.btn-red{
    width : 145px;
    height : 50px;
    font-size : 16px;
    font-weight: 700;
}

i.plus{
    margin-right : 10px;
}