.reply .title .image{
    width : 50px;
}
article.reply-write {padding:0 ;}
.reply{
    background-color : #fbf7f5;
    padding : 0;
    padding : 25px 20px 0;
    position : relative;
}
.reply.bdb0 {border-bottom:0;}
article > .content{
    margin-bottom : 0;
    border-bottom : 0;
}
article > .content.bd-btm {border-bottom:1px solid #fb5f33;}

.reply > .title{
    border-bottom: 0;
    padding-bottom: 0;
}

article > .content + button{
    width : 100%;
    border : 1px solid #fb5f33;
    color : #fb5f33;
    margin-bottom : 50px;
    position : absolute;
    left : 0;
    font-size: 16px;
    font-weight: 700;
}

.reply + button {
    margin-left: 157px;

}

.btn-wrap{
    width : 900px;
    margin : 100px auto 0;
}
article.reply-write .btn-wrap {margin-top:20px;}
