.breadcrumb{
    border-bottom : 0.5px solid #929292;
}

.writeForm {
    margin-left : 157px;
    margin-right : 193px;
    margin-top : 72px;
}

.writeForm .select2{
    width : 200px;
    margin-right : 20px;
}

.writeForm input {
    flex : 1;
    height: 33px;
    margin-right: 10px;
    border-width: 1px;
    font-size: 13px;
    border: 0;
    outline: none;
    border-bottom: 1px solid #dee2e6;
}

.title{
    display : flex;
    margin-bottom : 30px;
}

#froala{
    margin-bottom : 50px;
}

.fr-element{
    height : 600px;
}

.content button{
    width : 135px;
    height : 50px;
    font-size : 16px;
    font-weight : 700;
}

i.check-white{
    margin-right : 15px;
}

.content .btn-wrap{
    display : flex;
    justify-content: space-between;
    margin-bottom : 30px;
}

.content .btn-gray{
    margin-right : 10px;
}

i.menu-bars {
    margin-right: 15px;
}

.btn-wrap .btn-white{
    color : #999;
    width: 160px;
    height: 50px;
}