
.manageNoYN {
    display: block;
    position: relative;
    margin-left: 38px;
    padding-left: 28px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: auto !important;
    user-select: none;
}

/* Hide the browser's default radio button */
.manageNoYN input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.manageNoYN:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.manageNoYN input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.manageNoYN input:checked ~ .checkmark:after {
    display: block;
}
/* Style the indicator (dot/circle) */
.manageNoYN .checkmark:after {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}
a.first::after {
     content:'...'
 }

a.last::before {
    content:'...'
}