<li class="flex" >
    <div class="num">
        <div>
            1
        </div>
    </div>
    <div class="checkbox_wrap">
        <input type="checkbox" name="answer_1" class="checkbox" id="answer_1" value="y">
        <label for="answer_1"></label>
    </div>
    <div class="froala">
        <div class="answer_froala"></div>
    </div>
    <div class="delete">
        <button class="btn-gray" onclick="delete_type(event);">
            <i class="close"></i>
        </button>
    </div>
</li>