<li class="flex text" >
    <div class="num">
        <div>
            5
        </div>
        <div class="count">
            <button onclick="up_list(this);"><i class="up-pointing"></i></button>
            <button onclick="down_list(this);"><i class="down-pointing"></i></button>
        </div>
    </div>

    <div class="froala">
        <div class="answer_froala"></div>
    </div>
    <div class="delete">
        <button class="btn-gray" onclick="delete_type(event);">
            <i class="close"></i>
        </button>
    </div>
</li>