<li class="flex suggest-video">
    <div class="num">
        <div>
            1
        </div>
        <div class="count">
            <button onclick="up_list(this);"><i class="up-pointing"></i></button>
            <button onclick="down_list(this);"><i class="down-pointing"></i></button>
        </div>
    </div>
    <div class="type">
        <img src="/ftp/kucm/xredu/images/icons/question_registration/play.png" class="auto">
    </div>
    <div class="file">
        <p>Upload Your File (MP4, 10MB)</p>
        <button class="btn-white shadow" onclick="file_load(event);"><i class="media"></i>내 PC에서 불러오기</button>
        <button class="btn-white shadow" onclick="popup2('./form/multimedia_data.jsp','multimedia_data','800','');"><i class="media"></i>멀티미디어자료 검색</button>
        <input type="file" name="file">
    </div>
    <div class="delete">
        <button class="btn-gray" onclick="delete_type(event);">
            <i class="close"></i>
        </button>
    </div>
</li>