
#popup-modal{
    min-width : 440px;
    /*max-width : 440px;*/
    background-color : #fff;
    border: 1px solid #987f50;
    border-top : 0;
	z-index:4;
	overflow:hidden;
}
#popup-modal .wrap{
    min-width : inherit;
    max-width : inherit;
    height : inherit;
    border-top : 2px solid #987f50;
    position : relative;
   /* height : 285px;*/
}

#popup-modal .btn-close{
    margin: 11px 0 8px;
    display : flex;
    justify-content : flex-end;
    padding-right : 20px;
}

#popup-modal .wrap > form{
    padding : 0px 40px 30px;
}

#popup-modal .wrap > form .input{
    border-top : 0;
    border-left : 0;
    border-right : 0;
    width : 100%;
    margin-bottom : 20px;
}

#popup-modal .wrap > form .radio-wrap{
    display : flex;
    margin-bottom : 12px;
}

#popup-modal .wrap > form .radio-wrap .title{
    font-size : 12px;
    margin-right : 20px;
}

#popup-modal .wrap > form .radio-wrap .radio{
    color : #7a797d;
    font-size : 12px;
    min-width : 87px;
    white-space: nowrap;
    position : relative;
}
#popup-modal .wrap > form .radio-wrap .radio.mgl15 {margin-left:15px;}
#popup-modal .wrap > form .radio-wrap .radio input[type='radio']{
    width : 1px;
    height : 1px;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
	display:none;
}

#popup-modal .wrap > form .radio-wrap .radio label{
    background-image : url('../../img/icons/question_card/check.png');
    background-position : left center;
    padding-left : 25px;
    background-repeat : no-repeat;
    height : 20px;
    display: flex;
    align-items: center;
    cursor : pointer;
}

#popup-modal .wrap > form .radio-wrap .radio input[type='radio']:checked + label{
    background-image : url('../../img/icons/question_card/checked.png');
}
#popup-modal .btn-wrap{
    display : flex;
    justify-content : center;
    margin-top : 35px;
}

#popup-modal .btn-wrap button{
    width : 115px;
    height : 35px;
	font-size:13px;
	font-weight:400;
}

#popup-modal .btn-wrap .btn-gray{
    margin-right : 15px;
}
#popup-modal .table-wrap .btn-wrap {margin:0; padding:0 20px;}
#popup-modal .table-wrap .btn-wrap button{
    width : 60px;
    height : 30px;
}

/* 소분류 */

#popup-modal .wrap.wd400 {width:400px;}
#popup-modal .wrap.wd500 {width:500px;}
#popup-modal .wrap.wd650 {width:650px; }
#popup-modal .wrap.wd1350 {width:1350px; height:auto;}
#popup-modal .wrap.subpopup{
    height : 185px;
}


#popup-modal form .filed-wrap{
    display : flex;
    margin-bottom : 12px;
}
#popup-modal form .filed-wrap.radio-wrap .title {margin-right:0; width:130px; text-align:left;}
#popup-modal form .filed-wrap .title{
    font-size : 12px;
	font-weight:bold;
    /*display:flex;*/
    /*width:130px;*/
    align-items: center;
}
#popup-modal .wrap.wd500 form{
    padding : 0px 30px 30px;
}
#popup-modal form .filed-wrap .input-form {width:350px;}
#popup-modal form .filed-wrap .input-form .input {margin-bottom:0;}
#popup-modal form .filed-wrap .select2 {min-width:100px;}

#popup-modal .pop-excel-wrap {width:700px; height:480px; border:1px solid #a3a3a3; border-top:0;box-sizing:border-box; padding:0; position:relative;}
#popup-modal .pop-excel-wrap .title {height:50px; line-height:50px; padding:0 20px; background:#987f50; font-size:15px; font-weight:700; color:#fff;}
#popup-modal .pop-excel-wrap .btn-close {position:absolute; top:6px; left:0; width:100%;}
#popup-modal .pop-excel-wrap form {padding:0;}
#popup-modal .pop-excel-wrap .pop-excel-cont {overflow:hidden;}
#popup-modal .pop-excel-wrap .pop-excel-cont dl {display:flex; padding:35px 50px;}
#popup-modal .pop-excel-wrap .pop-excel-cont dl dt {font-size:30px; line-height:32px; color:#987f50; font-weight:800; letter-spacing:-0.03em; width:120px;}
#popup-modal .pop-excel-wrap .pop-excel-cont dl dd {font-size:12px; color:#7a797d; line-height:24px; font-weight:500;}
#popup-modal .pop-excel-wrap .pop-excel-cont dl dd .color-blue {color:#4a9faf;}
#popup-modal .pop-excel-wrap i.download{
    background-image : url("${IMG}/icons/question_card/download.png");
    width : 10px;
    height : 11px;
    margin-right : 10px;
}

#popup-modal .pop-excel-wrap .btn-download{ margin:25px 0 0 95px;
    border : 1px solid #ccc;
    color : #999;
    width : 160px;
    height : 35px;
	font-size:14px;
}
#popup-modal .pop-excel-wrap .pop-excel-cont dl:nth-child(2) {background:#f7f7f7;}
#popup-modal .pop-excel-wrap .flex-sec {display : flex;}
#popup-modal .pop-excel-wrap .flex-sec input{
    width : 320px;
    padding-bottom : 8px;
    border : 0;
    border-bottom : 1px solid #dee2e6;
    background-color : inherit;
    height : 35px;
	line-height:35px;
}
#popup-modal .pop-excel-wrap .flex-sec .btn-white{
    border : 1px solid #ccc;
    color : #999;
    width : 115px;
    height : 35px;
    margin-bottom : 0;
	margin-left:10px;
}

#popup-modal .table-wrap table{
    width : 100%;
    font-size : 13px;
}

#popup-modal .table-wrap thead{
    font-size : 14px;
    font-weight : 700;
}

#popup-modal .table-wrap tbody tr{
    cursor : pointer;
}

#popup-modal .table-wrap tbody tr:hover{
    background-color : #fbf7f5;
}

#popup-modal .table-wrap tbody td.t-left{
    text-align : left !important;
    padding :0 15px !important;
}

#popup-modal .table-wrap th{
    position : relative;
}

#popup-modal .default-list-pop {padding:0 50px 50px;}
#popup-modal .default-list-pop h2 {margin-bottom:30px;}

#popup-modal .table-wrap i.up{
    width : 10px;
    height : 7px;
    background-repeat : no-repeat;
    background-image : url('${IMG}/icons/question_card/up.png');
}

#popup-modal .table-wrap i.down{
    width : 10px;
    height : 7px;
    background-repeat : no-repeat;
    background-image : url('${IMG}/icons/question_card/down.png');
}
#popup-modal .search-wrap{
    margin-bottom : 18px;
    justify-content: space-between;
    align-items: center;
}

#popup-modal .search-form form{
	margin:0; padding:0;
    display : flex;
}

#popup-modal .search-form .select2{
    width : 150px;
    margin-right : 10px;
}

#popup-modal .search-form button{
    border: 1px solid #dee2e6;
    background-color : #fff;
    width : 33px;
    height : 33px;
    display : flex;
    align-items: center;
    justify-content: center;
    border-radius : 2px;
}











#popup-modal2{
    min-width : 440px;
    /*max-width : 440px;*/
    background-color : #fff;
    border: 1px solid #987f50;
    border-top : 0;
	z-index:4;
}
#popup-modal2 .wrap{
    min-width : inherit;
    max-width : inherit;
    height : inherit;
    border-top : 2px solid #987f50;
    position : relative;
   /* height : 285px;*/
}

#popup-modal2 .btn-close{
    margin: 11px 0 8px;
    display : flex;
    justify-content : flex-end;
    padding-right : 20px;
}

#popup-modal2 .wrap > form{
    padding : 0px 40px 30px;
}

#popup-modal2 .wrap > form .input{
    border-top : 0;
    border-left : 0;
    border-right : 0;
    width : 100%;
    margin-bottom : 20px;
}

#popup-modal2 .wrap > form .radio-wrap{
    display : flex;
    margin-bottom : 12px;
}

#popup-modal2 .wrap > form .radio-wrap .title{
    font-size : 12px;
    margin-right : 20px;
}

#popup-modal2 .wrap > form .radio-wrap .radio{
    color : #7a797d;
    font-size : 12px;
    min-width : 87px;
    white-space: nowrap;
    position : relative;
}
#popup-modal2 .wrap > form .radio-wrap .radio.mgl15 {margin-left:15px;}
#popup-modal2 .wrap > form .radio-wrap .radio input[type='radio']{
    width : 1px;
    height : 1px;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
	display:none;
}

#popup-modal2 .wrap > form .radio-wrap .radio label{
    background-image : url('../../img/icons/question_card/check.png');
    background-position : left center;
    padding-left : 25px;
    background-repeat : no-repeat;
    height : 20px;
    display: flex;
    align-items: center;
    cursor : pointer;
}

#popup-modal2 .wrap > form .radio-wrap .radio input[type='radio']:checked + label{
    background-image : url('../../img/icons/question_card/checked.png');
}

#popup-modal2 .table-wrap .btn-wrap {margin:0; padding:0 20px;}
#popup-modal2 .table-wrap .btn-wrap button{
    width : 60px;
    height : 30px;
}

/* 소분류 */

#popup-modal2 .wrap.wd400 {width:400px;}
#popup-modal2 .wrap.wd500 {width:500px;}
#popup-modal2 .wrap.wd650 {width:650px; }
#popup-modal2 .wrap.wd1350 {width:1350px; height:auto;}
#popup-modal2 .wrap.subpopup{
    height : 185px;
}


#popup-modal2 form .filed-wrap{
    display : flex;
    margin-bottom : 12px;
}
#popup-modal2 form .filed-wrap.radio-wrap .title {margin-right:0; width:130px; text-align:left;}
#popup-modal2 form .filed-wrap .title{
    font-size : 12px;
	font-weight:bold;
	display:flex;
	width:130px;
    align-items: center;
}
#popup-modal2 .wrap.wd500 form{
    padding : 0px 30px 30px;
}
#popup-modal2 form .filed-wrap .input-form {width:350px;}
#popup-modal2 form .filed-wrap .input-form .input {margin-bottom:0;}
#popup-modal2 form .filed-wrap .select2 {min-width:100px;}

#popup-modal2 .pop-excel-wrap {width:700px; height:480px; border:1px solid #a3a3a3; border-top:0;box-sizing:border-box; padding:0; position:relative;}
#popup-modal2 .pop-excel-wrap .title {height:50px; line-height:50px; padding:0 20px; background:#987f50; font-size:15px; font-weight:700; color:#fff;}
#popup-modal2 .pop-excel-wrap .btn-close {position:absolute; top:6px; left:0; width:100%;}
#popup-modal2 .pop-excel-wrap form {padding:0;}

#popup-modal2 .pop-excel-wrap .pop-excel-cont dl {display:flex; padding:35px 50px;}
#popup-modal2 .pop-excel-wrap .pop-excel-cont dl dt {font-size:30px; line-height:32px; color:#987f50; font-weight:800; letter-spacing:-0.03em; width:120px;}
#popup-modal2 .pop-excel-wrap .pop-excel-cont dl dd {font-size:12px; color:#7a797d; line-height:24px; font-weight:500;}
#popup-modal2 .pop-excel-wrap .pop-excel-cont dl dd .color-blue {color:#4a9faf;}
#popup-modal2 .pop-excel-wrap i.download{
    background-image : url("${IMG}/icons/question_card/download.png");
    width : 10px;
    height : 11px;
    margin-right : 10px;
}

#popup-modal2 .pop-excel-wrap .btn-download{ margin:25px 0 0 95px;
    border : 1px solid #ccc;
    color : #999;
    width : 160px;
    height : 35px;
}
#popup-modal2 .pop-excel-wrap .pop-excel-cont dl:nth-child(2) {background:#f7f7f7;}
#popup-modal2 .pop-excel-wrap .flex-sec {display : flex;}
#popup-modal2 .pop-excel-wrap .flex-sec input{
    width : 320px;
    padding-bottom : 8px;
    border : 0;
    border-bottom : 1px solid #dee2e6;
    background-color : inherit;
    height : 35px;
	line-height:35px;
}
#popup-modal2 .pop-excel-wrap .flex-sec .btn-white{
    border : 1px solid #ccc;
    color : #999;
    width : 115px;
    height : 35px;
    margin-bottom : 0;
	margin-left:10px;
}

#popup-modal2 .table-wrap table{
    width : 100%;
    font-size : 13px;
}

#popup-modal2 .table-wrap thead{
    font-size : 14px;
    font-weight : 700;
}

#popup-modal2 .table-wrap tbody tr{
    cursor : pointer;
}

#popup-modal2 .table-wrap tbody tr:hover{
    background-color : #fbf7f5;
}

#popup-modal2 .table-wrap tbody td.t-left{
    text-align : left !important;
    padding :0 15px !important;
}

#popup-modal2 .table-wrap th{
    position : relative;
}

#popup-modal2 .default-list-pop {padding:0 50px 50px;}
#popup-modal2 .default-list-pop h2 {margin-bottom:30px;}

#popup-modal2 .table-wrap i.up{
    width : 10px;
    height : 7px;
    background-repeat : no-repeat;
    background-image : url('${IMG}/icons/question_card/up.png');
}

#popup-modal2 .table-wrap i.down{
    width : 10px;
    height : 7px;
    background-repeat : no-repeat;
    background-image : url('${IMG}/icons/question_card/down.png');
}
#popup-modal2 .search-wrap{
    margin-bottom : 18px;
    justify-content: space-between;
    align-items: center;
}

#popup-modal2 .search-form form{
	margin:0; padding:0;
    display : flex;
}

#popup-modal2 .search-form .select2{
    width : 150px;
    margin-right : 10px;
}

#popup-modal2 .search-form button{
    border: 1px solid #dee2e6;
    background-color : #fff;
    width : 33px;
    height : 33px;
    display : flex;
    align-items: center;
    justify-content: center;
    border-radius : 2px;
}
