i.up{
    width : 10px;
    height : 7px;
    background-repeat : no-repeat;
    background-image : url('../../img/icons/question_card/up.png');
}

i.down{
    width : 10px;
    height : 7px;
    background-repeat : no-repeat;
    background-image : url('../../img/icons/question_card/down.png');
}
.breadcrumb{
    border : 0;
    padding-bottom : 0;
}

.search-wrap .btn-wrap button{
    width : auto;
    height : auto;
}

.search-wrap .btn-wrap button.btn-card-list{
    margin-right : 15px;
}

tr.main .name {
    text-align: left;
    padding-left: 44px;
}

td div.name{
    justify-content: center;
}

tr.middle, tr.subclass{
    display : none;
}

.tb-disc {text-align:right; margin-top:10px; font-size:12px; color:#888;}
