.questionSelect{
    text-align: center;
    padding: 0px;
}
.totalCount{
    text-align: center;
    padding: 0px;
}
.btnSelect{
    width: 138px;
    height: 30px;
    color: #fff;
    background-color: #fb5f33;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
}
.btnDeselect{
    margin-left: 20px;
    width: 138px;
    height: 30px;
    color: #565d64;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #7a797d;
    border-radius: 2px;
}
.questionList{
    height: 600px;
    overflow: auto;
    border: 1px solid #cccfd1;
    margin-top: 15px;
}
.middleBtn{
    text-align: center;
    height: 660px;
    width: 6%;
}
.btn-mid-select{
    margin-top: 255px;
    /*border: 1px solid #7a797d;*/
    width: 50px;
    height: 50px;
}
.btn-mid-select2{
    margin-top: 20px;
    /*border: 1px solid #7a797d;*/
    width: 50px;
    height: 50px;
}
.btn-mid-select3{
    border: 1px solid #dee2e6;
    height: 50px;
    width: 50px;
    background: #000;
    color: #fff;
    border-radius: 50%;
    margin-top: 15px;
    font-weight: 800;
}
.questionClick{
    text-decoration: none;
    color: #000;
    display: block;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 5px;
}
.optionNumber{
    font-weight: 400;
    font-size: 15px;
    padding: 9px;
    width: 53px;
}
.checked{
    background-color : #f28a0a;
    display: block;
}
