section article h3{
    margin-bottom : 45px;
}

section article ul{
    display : flex;
    flex-wrap: wrap;
    margin-bottom : 630px;
}

section article ul li{
    border : 1px solid #e6e9ec;
    border-radius : 5px;
    width : 295px;
    height : 60px;
    margin-left : 6px;
    margin-bottom : 10px;
    font-size : 13px;
    font-weight : 700;
    display : flex;
    align-items: center;
    justify-content: center;
    flex : 1;
    cursor : pointer;
}

section article ul li.on{
    color : #fb5f33;
    border: 1px solid #fb5f33;
    box-shadow: 1px 5px 7px 0px #dedede;
}

.level-stick > div, .level-stick-label > div{
    width : 140px;
    display : flex;
    flex-direction: column;
    flex-wrap : wrap;
}

.level-stick, .level-stick-label{
    padding-left : 36px;
    margin-bottom : 10px;
}

#level-bar{
    /* width : 596px; */
    width : calc(596px + 9px);
    position : relative;
}

.level-stick > div{
    border-left : 1px solid #e6e9ec;
    height : 18px;
    display : flex;
    align-items: center;
    justify-content: center;
}

.level-stick > div > span{
    display : inline-block;
    width : 100%;
    height : 9px;
    background-color : #f0f1f3;
    position  : relative;
}

.level-stick > div > span > span:first-child{
    position: absolute;
    left :-5px;
    top : 0;
    cursor : pointer;
    content : '';
    display : block;
    width : 10px;
    height : 100%;
}

.level-stick > div > span > span:last-child{
    position: absolute;
    right :-5px;
    top : 0;
    cursor : pointer;
    content : '';
    display : block;
    width : 10px;
    height : 100%;
}

.level-stick .circle{
    content : '';
    display : block;
    width : 18px;
    height : 18px;
    border-radius : 50%;
    background-color : #fb5f33;
    cursor : move;
    transform: translateX(-50%);
    position : absolute;
    top : 0;
}

.level-stick-label{
    font-size : 13px;
    color : #222;
    font-weight: 700;
    margin-bottom : 30px;
}

.btn-white.plus{
    margin-bottom : 600px;
}

.level-stick-label > div:last-child{
    width: auto !important;
    transform : translateX(-50%);
    margin-right: -60px;
    white-space: nowrap;
}

.level-stick-label > div:first-child{
    width : 163px;
}

.level-stick-label > div{
    display : block;
    width : 140px !important;
    cursor : pointer;
}

.level-stick-label > div > span{
    display: inline-block;
    transform : translateX(-50%);
}

.level-stick-label > div:last-child span{
    transform : translateX(0);
}
