h3{
    margin-bottom : 30px;
}

.input{
    padding : 10px;
    font-size: 13px;
    border-radius: 5px;
    border : 0;
    border-bottom : 1px solid #e2e6e9;
    width : 100%;
    margin-bottom : 20px;
}

.btn-white.plus{
    margin-bottom : 585px;
}