.content-wrap article h3{
    margin-bottom : 35px;
}

.content-wrap article .search .search-input{
    padding-left : 30px;
    padding-bottom : 15px;
    border : 0;
    width : 100%;
    border-bottom : 1px solid #e2e6e9;
    background-image : url('../../../../img/icons/search.png');
    background-size : 15px;
    background-repeat : no-repeat;
    background-position : left top;
    margin-bottom : 10px;
}
.content-wrap article .search-type2 {position:relative;}
.content-wrap article .search-type2 .search-input{
    padding-left : 15px;
    padding-bottom : 15px;
	padding-top:2px;
    border : 0;
    width : calc(100% - 40px);
    border-bottom : 1px solid #e2e6e9;
    background-repeat : no-repeat;
    background-position : left top;
    margin-bottom : 10px;
}
.content-wrap article .search-type2 .bth-search{
    width:33px; height:34px;
	border:1px solid #dee2e6; border-radius:3px;
    background-image : url('../../../../img/icons/search.png');
    background-size : 15px;
    background-repeat : no-repeat;
    background-position : center;
	font-size:0; line-height:0;
   }

.content-wrap article .search-list{
    margin-bottom : 30px;
}

.content-wrap article .search-list ul li{
    height : 45px;
    display : flex;
    align-items : flex-end;
    /* padding-bottom : 10px;
    padding-left : 6px; */
    font-size : 13px;
    position : relative;
    cursor : pointer;
}

/* .content-wrap article .search-list ul li:after{
    content : '\25BC';
    color : #fb5f33;
    position: absolute;
    right : 6px;
} */

.content-wrap article .search-list + .btn-white{
    font-size : 14px;
    color : #fb5f33;
    border : 1px solid;
    width : 100%;
    display : flex;
    align-items: center;
    justify-content: center;
    height : 50px;
    font-weight: 700;
    margin-bottom : 265px;
}



