<li class="flex suggest-stack" >
    <div class="type">
        <img src="${IMG}/icons/question_registration/stack.png" class="auto">
    </div>
    <div class="file">
        <p>Upload Your File (ZIP, 10MB)</p>
        <button class="btn-white shadow" onclick="file_load(event);"><i class="media"></i>내 PC에서 불러오기</button>
        <input type="file" name="file">
    </div>
    <div class="delete">
        <button class="btn-gray" onclick="delete_type(event);">
            <i class="close"></i>
        </button>
    </div>
</li>