<li class="flex text" >
    <div class="froala">
        <div class="answer_froala"></div>
    </div>
    <div class="delete">
        <button class="btn-gray" onclick="delete_type(event);">
            <i class="close"></i>
        </button>
    </div>
</li>