/* 나눔스퀘어 */
/*@font-face {*/
/*    font-family: 'NanumSquareR';*/
/*    src: url('../../font/NanumSquareR.woff') format('woff'),*/
/*    url('../../font/NanumSquareR.ttf') format('truetype');*/
/*    font-display: fallback;*/
/*}*/
/*@font-face {*/
/*    font-family: 'NanumSquareB';*/
/*    src: url('../../font/NanumSquareB.woff') format('woff'),*/
/*    url('../../font/NanumSquareB.ttf') format('truetype');*/
/*    font-display: fallback;*/
/*}*/
/*@font-face {*/
/*    font-family: 'NanumSquareEB';*/
/*    src: url('../../font/NanumSquareEB.woff') format('woff'),*/
/*    url('../../font/NanumSquareEB.ttf') format('truetype');*/
/*    font-display: fallback;*/
/*}*/


