footer{
    height : 155px;
    font-size : 13px;
    font-weight : 600;
}

footer .wrap.flex{
    justify-content : space-between;
    align-items: center;
    height : 100%;
}

footer .info{
    display : flex;
    flex-direction: column;
    justify-content: space-between;
}

footer .info h1{
    font-size : 17px;
}

footer .info li{
    color : rgba(0,0,0,0.8);
    margin : 15px 0;
    padding : 0 10px;
    position : relative;
    display : flex;
    align-items: center;
}
footer .info li * {vertical-align:top;}

footer .info li:first-child{
    padding-left : 0;
}

footer .info li > span.foot_label{
    font-weight: bold;
    margin-right : 5px;
    color : #000;
	display:inline-block;
	padding-top:2px;
}
footer .info li > span.foot_info{
display:inline-block;
	padding-top:2px;
}

footer .info li:after{
    position : absolute;
    right : 0;
    content : '';
    display : block;
    width : 1px;
    height : 8px;
    background-color : #c1c2c5;
	top:3px;
}

footer .info li:last-child:after{
    width : 0;
}

footer .info p{
    color : rgba(0,0,0,0.5);
}

