/* header top */
header.bdb10 {border-bottom:10px solid #fb5f33;}
header .top{
    display : flex;
    justify-content: space-between;
    height : 72px;
    align-items: center;
}

header .logo img{
    height : 50px;
}

header .member-info{
    display : flex;
    align-items: center;
    font-size : 13px;
    font-weight: 700;
}

header .member-info .logintime{
    padding : 5px 10px;
    background-color : #fb5f33;
    border-radius : 50px;
    color : #fff;
}

header .name{
    margin-left : 10px;
    margin-right : 20px;
    letter-spacing: 0.063em;
}

header .question{
    margin-left : 20px;
    margin-right : 10px;
}


/* header nav */
header nav{
    background-color : #fb5f33;
    color : #fff;
    height : 58px;
    display : flex;
    align-items : center;
}

header nav .wrap{
    padding : 0;
}

/* 삼단바 */
header nav .menu a{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height : 16px;
}

header nav .menu span{
    display : block;
    width : 25px;
    height : 3px;
    background-color : #fff;
}


header nav .menu-list > li{
    display : flex;
    align-items : center;
    font-weight : 800;
    font-size : 14px;
}

header nav .menu-list > li > a{
    padding : 0 20px;
    display : flex;
    align-items : center;
    height : 58px;
    position : relative;
}

header nav .menu-list > li > a:before{
    content: '';
    display : block;
    width : 1px;
    height : 8px;
    background-color : #ffc600;
    position : absolute;
    right : 0;
}

header nav .menu-list > li:last-child > a:before{
    width : 0;
}

header nav .menu-list > li:hover a:after{
    display : block;
    content : '';
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    width:0.625em;
    height:0.625em;
    border-top:0.313em solid transparent;
    border-right:0.313em solid transparent;
    border-bottom :0.313em solid #fff;
    border-left:0.438em solid transparent;
    box-sizing:border-box;
    z-index: 1;
}

header .submenu{
    display : none;
    position : absolute;
    top : 130px;
    left : 0;
    color : #222;
    font-size : 14px;
    font-weight: 700;
    background-color : #fff;
    width : 100%;
    height : 44px;
    overflow : hidden;
}

header .submenu.on{
    display : flex;
}


header .submenu li{
    margin-right : 35px;
}

header .submenu .wrap{
    align-items: flex-end;
}

@media screen and (max-width : 1400px){
    header .submenu{
        padding-left : 30px;
    }
}
