@charset "UTF-8";
/*@import url(style.css);*/
/*@import url(common.css);*/

* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body{
    margin: 0px;
    user-select: none;
}
.flex{
    display: flex;
}
.uk-margin-top{
    margin-top: 20px;
}
.uk-padding-top{
    padding-top: 20px;
}
.uk-margin-large-bottom{
    margin-bottom: 40px;
}
.uk-margin-large-top{
    margin-top: 30px;
}
.uk-padding-remove{
    padding: 0px
}
.uk-margin-remove{
    margin: 0px;
}
.uk-margin-left{
    margin: 0px;
}
.uk-margin-left{
    margin-left: 15px;
}
.popup-scroll{
    overflow: auto;
}
.mathliveType2 {
    padding-left: 10px;
    font-size: 18px;
    border: 1px solid #8c8c8c;
    margin-bottom: 10px;
    padding: 6px;
    text-align: left
}
.top-title{
    color: #0d9df9;
    padding-right: 20px;
}

.btn-red-line {
    width: 120px;
    height: 40px;
    font-size: 16px;
    font-weight: 700;
    color: #0d9df9 !important;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    border: 2px solid #0d9df9;
    border-radius: 2px;
}
.btn-red {
    width: 150px;
    height: 40px;
    font-size: 16px;
    font-weight: 700;
    color: #fff !important;
    background-color: #0d9df9;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    border: 2px solid #0d9df9;
    border-radius: 2px;
}
.btn-red-long {
    width: 99.3%;
    /*height: 40px;*/
    height: 30px;
    font-size: 16px;
    font-weight: 700;
    color: #fff !important;
    background-color: #0d9df9;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #0d9df9;
    border-radius: 10px;
    /*border-top-left-radius: 10px;*/
    /*border-top-right-radius: 10px;*/
}
.btn-top{
    width: 200px;
    height: 30px;
    font-size: 16px;
    font-weight: 700;
    color: #000 !important;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    position: absolute;
    top: 27px;
    left: 30%;
    outline: none;
}
.btn-top-second{
    width: 200px;
    height: 30px;
    font-size: 16px;
    font-weight: 700;
    color: #000 !important;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    position: absolute;
    top: 27px;
    left: 45%;
    outline: none;
}
.btn-top-close{
    width: 200px;
    height: 50px;
    font-size: 16px;
    font-weight: 700;
    color: #000 !important;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    position: absolute;
    top: 10px;
    right: 34px;
    outline: none;
}
.modal-form{
    border: 1px solid #dee2e6;
    background-color: #fff;
    width: 30px;
    height: 30px;
    float: right;
    border-radius: 2px;
}
tr td {
    border: 1px solid #dee2e6 !important;
    font-size: 14px;
    padding: 5px;
    height: 40px;
    text-align: center;
}
button{
    outline: none;
}

td select {
    height: 34px;
    line-height: 34px;
    background-color: #fff;
    padding-left: 7px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 0;
    border-bottom: 1px solid #dee2e6;
    font-size: 13px;
    background-image: url(../../../../img/icons/question_card/down.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 8px;
    outline: none;
}
select{
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
}
select::after{
    content: none;
}
select::-ms-expand {
    display: none;
}
.small-width{
    width: 100%;
}
.tit {
    /*background: #999999;*/
    /*color: #fff;*/
}
#viwer {
    min-width: 360px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    min-height: 100%;
    margin: 0 auto;
    width: 100%
}

#solving {
    min-width: 1080px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    height: 760px;
    margin: 0 auto;
    width: 100%;
    /*background: linear-gradient(0deg, #ff9600 0, #ffcf0e 100%)*/
    background: linear-gradient(0deg, #0d9df9 0, #3ac4fc 100%);
}

.btn-back {
    padding: 15px
}

.line-orange {
    border-bottom: 1px solid #3ac4fc
}

.mobile-1080 .mobile-940 {
    display: none
}

@media all and (max-width: 940px) {
    .mobile-1080, .mobile-940 {
        display: block
    }

    .mobile-940-blind {
        display: none
    }
}

.solving-layout .class-area {
    border-radius: 10px;
    border: 2px solid #d9d9d9;
    padding: 0 30px;
    position: relative
}

.solving-wrap {
    width: 100%;
    padding: 15px 20px 0px
}

.solving-wrap .title {
    font-size: 18px;
    color: #222;
    padding: 15px 55px 15px 25px;
    background: #fff;
    display: inline-block;
    border-radius: 20px 20px 0 0
}

.solving-wrap .title.none {
    font-size: 18px;
    color: #222;
    padding: 0;
    background: 0 0;
    border-radius: 0
}

.solving-wrap .title > span {
    margin-right: 6px
}

.solving-layout {
    background: #fff;
    border-radius: 0 10px 10px 10px;
    padding: 20px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, .15) 0 4px 11px 2px
}

.solving-layout .txt-type01 {
    font-size: 18px;
    color: #666;
    position: relative;
    line-height: 1.4
}

.solving-layout .txt-type01 >>> p {
    font-size: 18px;
    color: #666;
    position: relative;
    line-height: 1.4
}

.solving-layout .txt-type01 > .right-wrong {
    position: absolute;
    top: -15px;
    left: -32px
}

.solving-layout .txt-type02 {
    font-size: 16px;
    color: #666
}

.solving-layout .question-area {
    width: 100%;
    text-align: center;
    margin: 20px 0;
    /*display: table*/
}

.solving-layout .question-area > div {
    /*display: table-cell;*/
    vertical-align: middle
}

.example-wrap {
    margin: 0 0 8px;
    position: relative
}

.example-wrap > .progress {
    width: 370px;
    margin: 10px;
    position: relative;
    background: #f8f8f8;
    top: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50px
}

.example-wrap > .progress > i {
    background: #abe58e;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50px
}

.example-wrap > .num-txt {
    color: #666;
    font-size: 18px;
    display: inline-block;
    margin-left: 8px;
    position: relative;
    top: 3px
}

.example-wrap:nth-child(1) .radio-number label:before {
    content: "1"
}

.example-wrap:nth-child(2) .radio-number label:before {
    content: "2"
}

.example-wrap:nth-child(3) .radio-number label:before {
    content: "3"
}

.example-wrap:nth-child(4) .radio-number label:before {
    content: "4"
}

.example-wrap:nth-child(5) .radio-number label:before {
    content: "5"
}

.number-txt {
    display: inline-block;
    border: 1px solid #999;
    border-radius: 50%;
    width: 21px;
    height: 21px;
    padding: 0px;
    margin-right: 10px;
    font-size: 14px;
    text-align: center;
    text-indent: -1px;
    /*line-height: 16px;*/
    margin-right: 8px
}

.number-txt:last-child {
    margin-right: 0
}

.number-txt.check {
    border-color: #0d9df9;
    color: #0d9df9
}

.answers-exp {
    background: #f8f8f8;
    padding: 16px 24px;
    border-radius: 10px
}

.answers-exp > .txt-exp {
    font-size: 14px;
    color: #333;
    margin: 18px 0 5px
}

.answers-exp > .txt-subject {
    font-size: 14px;
    color: #666
}

.answers-exp > .txt-input {
    font-size: 16px;
    color: #666;
    background: #f8f8f8;
    width: 100%
}

.answers-exp.small {
    padding: 8px 24px;
    margin: 0 0 5px
}

.btn-next {
    width: 164px;
    height: 46px;
    color: #fff;
    background: #0d9df9;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600
}


.solving-nav {
    width: calc(100%);
    float: left;
    padding: 8px 0 0;
    overflow: hidden;
    text-align: center;
}
.solvingReview{
    width: calc(100% - 340px) !important;
    float: left;
    padding: 8px 0 0;
    overflow: hidden;
}
.solving-nav > button {
    margin: 0 10px;
    font-size: 16px;
    color: #666;
    display: inline-block;
    vertical-align: middle
}
.solving-nav > .prev {
    /*background: url(../assets/img/viewer/icon-sol-prev.jpg) no-repeat center left;*/
    padding-left: 18px;
    margin-top: 7px;
    float: left;
    outline: none;
    border: 0px;
}

.solving-nav > .next {
    /*background: url(../assets/img/viewer/icon-sol-next.jpg) no-repeat center right;*/
    padding-right: 18px;
    margin-top: 7px;
    float: right;
    outline: none;
    border: 0px;
}

.solving-nav > .clip {
    /*background: url(../assets/img/viewer/icon-like-big.png) no-repeat center left;*/
    padding: 5px 0 5px 38px;
    color: #0d9df9;
    font-weight: 600
}

.solving-nav > .clip.none {
    color: #666;
    font-weight: 500;
    /*background: url(../assets/img/viewer/icon-like-big-off.png) no-repeat center left*/
}

.solving-nav > .memo {
    /*background: url(../assets/img/viewer/icon-memo.jpg) no-repeat center left;*/
    padding: 7px 0 5px 38px
}

.solving-nav > .memo_n {
    /*background: url(../assets/img/viewer/memo_used.png) no-repeat center left;*/
    padding: 7px 0 5px 38px
}

.solving-nav > .qs-list {
    border: 1px solid #0d9df9;
    color: #0d9df9;
    font-size: 16px;
    width: 45%;
    height: 44px;
    font-weight: 600;
    float: left;
    margin-left: 0;
    display: inline-block;
    line-height: 42px;
    display: none;
    border-radius: 5px;
    margin-right: 10px
}

.solving-nav > .qs-list.orange {
    background: #0d9df9;
    color: #fff;
    margin-right: 0
}

.solving-nav.btn-two > a {
    width: calc(50% - 5px)
}

.solving-submit {
    width: 272px;
    float: right
}

.solving-submit > button {
    width: 100%;
    height: 52px;
    background: #c2c2c2;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    transition: .2s
}

.solving-submit > button.on {
    background: #0d9df9
}

@media all and (max-width: 375px) {
    .solving-nav > .qs-list {
        width: 40%
    }

    .solving-nav.btn-two > a {
        width: calc(50% - 5px)
    }
}

.explain-wrap {
    position: relative;
    overflow: hidden;
    width: 100%
}

.explain-area.left {
    float: left;
    width: calc(100% - 380px)
}

.explain-area.left .class-area {
    height: 540px;
    box-shadow: -2px -2px 2px #eee;
    min-height: auto
}

.explain-area.left > .top-area {
    height: 38px;
    overflow: hidden
}

.explain-area > .top-area > .txt-index {
    background: #f8f8f8;
    padding: 4px 12px;
    border: 1px solid #ddd;
    color: #3ac4fc;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    position: relative;
    margin-left: 50px;
    display: inline-block
}

.explain-area > .top-area > .txt-index::before {
    content: "";
    /*background: url(../assets/img/viewer/icon-trophy.jpg) no-repeat;*/
    width: 29px;
    height: 31px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: -40px
}

.explain-area > .top-area > .txt-wrong {
    background: #f8f8f8;
    padding: 4px 12px;
    border: 1px solid #ddd;
    color: #3ac4fc;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    position: relative;
    margin-left: 50px;
    display: inline-block
}

.explain-area > .top-area > .txt-wrong::before {
    content: "";
    /*background: url(../assets/img/viewer/icon-wrong.jpg) no-repeat;*/
    width: 29px;
    height: 31px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: -40px
}

.explain-area > .top-area > .timer {
    width: 80px;
    height: 32px;
    border: 1px solid #ddd;
    color: #222;
    text-align: center;
    line-height: 20px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    position: relative;
    margin-left: 50px;
    padding-top: 5px
}

.explain-area > .top-area > .timer::before {
    content: "";
    /*background: url(../assets/img/viewer/icon-timer.jpg) no-repeat;*/
    width: 30px;
    height: 33px;
    display: inline-block;
    position: absolute;
    top: -1px;
    left: -40px
}

.explain-area > .top-area > .take {
    background: #f8f8f8;
    padding: 4px 2px 4px 12px;
    border: 1px solid #ddd;
    color: #333;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    position: relative;
    margin-left: 55px
}

.explain-area > .top-area > .take > em {
    color: #0d9df9;
    margin-right: 10px;
    font-weight: 600
}

.explain-area > .top-area > .take::before {
    content: "";
    /*background: url(../assets/img/viewer/icon-mega.jpg) no-repeat;*/
    width: 34px;
    height: 24px;
    display: inline-block;
    position: absolute;
    top: 2px;
    left: -45px
}

.explain-area > .top-area > .percent {
    border-radius: 10px;
    padding: 8px 10px 0 0;
    font-size: 14px;
    color: #666
}

.explain-area > .top-area > .percent > span::after {
    content: "";
    width: 1px;
    height: 11px;
    background: #ddd;
    display: inline-block;
    margin: 0 8px;
    position: relative;
    top: 1px
}

.explain-area > .top-area > .percent > span:last-child::after {
    display: none
}

.explain-area > .top-area > .percent > span > em {
    color: #333;
    font-weight: 600;
    color: #0d9df9
}

.explain-area.right {
    float: right;
    width: 372px;
    height: 580px;
    position: relative
}

.explain-area.right > .ex-listTab {
    position: absolute;
    top: 0;
    right: 158px;
    height: 38px;
    text-align: center;
    display: block;
    color: #888;
    line-height: 38px;
    font-size: 15px;
    border: 1px solid #ddd;
    border-radius: 10px 10px 0 0;
    border-bottom: 0;
    width: 80px
}

.explain-area.right > .ex-listTab.nth-2 {
    right: 79px
}

.explain-area.right > .ex-listTab.nth-3 {
    right: 0
}

.explain-area.right > .ex-listTab.on {
    background: #3ac4fc;
    color: #fff;
    border-color: #3ac4fc
}
.top-area-div{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
.list-area {
    border: 2px solid #3ac4fc;
    /*border-radius: 0px 0 10px 10px;*/
    border-radius: 10px;
    margin: 38px 0 0;
    width: 98%;
    display: none;
    /*padding: 15px 12px 22px 22px;*/
    height: 540px
}

.list-area.on {
    display: block
}

.list-area .height-type01 {
    max-height: 466px
}

.list-area .height-type02, .list-area .height-type03 {
    max-height: 440px
}

.list-area .height-type02 > ul > li {
    padding: 18px 20px 18px 40px
}

.list-area .height-type03 > ul > li {
    padding: 18px 20px 18px
}

.list-area .list-basic {
    padding-right: 10px
}

.list-area .list-basic > li {
    padding: 15px 10px;
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding-left: 48px
}

.list-area .list-basic > li > .ftr > img {
    width: 30px
}

.list-area .list-basic.gapNo > li {
    padding-left: 10px
}

.list-area .list-basic > li:first-child {
    border-top: 1px solid #ddd
}

.list-area .list-basic > li > span {
    display: inline-block;
    vertical-align: middle
}

.list-area .list-basic > li.like {
    /*background: url(../assets/img/viewer/icon-like-over.png) no-repeat center left 10px*/
}

.list-area .list-basic > li.like.none {
    /*background-image: url(../assets/img/viewer/icon-like-off.png)*/
}

.list-area .list-basic > li.disabled {
    opacity: .6
}

.list-area .list-basic > li > .num-default {
    font-size: 20px;
    margin-top: -5px;
    color: #666;
    margin-right: 10px
}

.list-area .list-basic > li.this {
    background-color: #fff9db
}

.like-check {
    display: inline-block;
    position: absolute;
    vertical-align: middle;
    width: 20px;
    height: 18px;
    top: 23px;
    left: 55px
}

.solving-blar > .graph-wrap {
    margin: 50px 0 40px;
    position: relative;
    text-align: center
}

.solving-blar > .graph-wrap > .percent {
    font-size: 34px;
    color: #0d9df9;
    position: absolute;
    display: inline-block;
    top: 95px;
    left: 0;
    width: 100%;
    font-weight: 500
}

#solving .popup-dim {
    height: 760px
}

@media all and (max-width: 720px) {
    #solving {
        width: 100%;
        min-width: 100%;
        overflow: visible;
        height: auto
    }

    #solving .pdl60 .txt-type01.mgt20 >>> p {
        font-size: 18px !important;
        line-height: 1.4
    }

    .solving-layout {
        border-radius: 0;
        padding-top: 10px
    }

    .solving-wrap .title {
        font-size: 16px;
        line-height: 24px
    }

    .solving-blar > .txt-blar {
        font-size: 16px
    }

    .solving-blar > .problem > span {
        width: 160px;
        height: 160px;
        font-size: 28px;
        line-height: 160px
    }

    .solving-blar > .btn-blar {
        height: 38px;
        font-size: 15px
    }

    .solving-layout .question-area img {
        width: 80%
    }
    .example-wrap > .progressPercent{
        margin-bottom: 15px;
        margin-left: 36px;
    }
    .answerMarginTake{
        padding-top: 0px;
    }
    .example-wrap > .progress {
        /*display: none*/
        width: 170px;
    }


    .complete-wrap {
        margin-bottom: 85px
    }

    .solving-layout .class-area {
        position: fixed;
        top: 82px;
        left: 30px;
        right: 30px;
        bottom: 120px;
        width: auto;
        height: auto;
        overflow-y: scroll;
        padding: 0 15px 30px 15px
    }

    .explain-area.left {
        float: none;
        width: 100%
    }

    .explain-area.right {
        float: none;
        width: 100%;
        margin-top: 68px
    }

    .explain-area.right > .ex-listTab {
        top: -37px
    }

    .like-check {
        top: 10px;
        left: 10px
    }

    .solving-nav {
        float: none;
        width: 100%;
        padding-bottom: 20px;
        text-align: center
    }
    .solvingReview{
        float: none;
        width: 100% !important;
        padding-bottom: 20px;
        text-align: center
    }

    .solving-nav > .prev {
        display: inline-block;
        float: left;
        font-size: 13px;
        margin-left: 0;
        margin-top: 6px
    }

    .solving-nav > .next {
        display: inline-block;
        float: right;
        font-size: 13px;
        margin-right: 0;
        margin-top: 6px
    }

    .solving-nav > .clip {
        background: 0 0;
        padding-left: 0;
        margin: 0 8px
    }

    .solving-nav > .memo {
        background: 0 0;
        padding-left: 0;
        margin: 0 8px
    }

    .solving-nav > .memo_n {
        background: 0 0;
        padding-left: 0;
        margin: 0 8px
    }

    .solving-nav > .clip.mobile-view {
        /*background: url(../assets/img/viewer/icon-like-big.png) no-repeat center left;*/
        padding: 5px 0 5px 32px;
        position: relative;
        top: 6px;
        background-size: 24px
    }

    .solving-nav > .memo.mobile-view {
        /*background: url(../assets/img/viewer/icon-memo.jpg) no-repeat center left;*/
        padding: 7px 0 5px 32px;
        position: relative;
        top: 6px;
        background-size: 24px
    }

    .solving-nav > .memo_n.mobile-view {
        /*background: url(../assets/img/viewer/memo_used.png) no-repeat center left;*/
        padding: 7px 0 5px 32px;
        position: relative;
        background-size: 24px;
        width: 26px !important;
        height: 26px !important;
        text-indent: -9999px
    }

    .solving-nav > button {
        font-size: 15px;
        margin: 0 5px
    }

    .solving-submit {
        width: 100%
    }

    .explain-area.left > .top-area {
        height: auto;
        margin: 5px 0 15px 0
    }

    .solving-wrap .title {
        width: 100%
    }

    .solving-layout .txt-type01 > .right-wrong {
        left: -31px
    }

    .mobile-blind {
        display: none !important
    }

    .solving-nav > .qs-list {
        display: block
    }
}

.explain-area.left {
    padding-left: 2px
}

.explain-area.left > .top-area {
    padding-top: 2px
}

.explain-area > .top-area > .timer {
    box-shadow: -2px -2px 2px #eee
}

.explain-area > .top-area > .take {
    box-shadow: -2px -2px 2px #eee
}

.explain-area > .top-area > .txt-wrong {
    box-shadow: -2px -2px 2px #eee
}

.explain-area > .top-area > .txt-index {
    box-shadow: -2px -2px 2px #eee
}

.explain-area.left.w100 {
    width: 100%
}

.explain-area.left.w358 {
    width: calc(100% - 358px)
}

.explain-area.right.w350 {
    width: 350px
}


.class-area > .pe-wrap {
    position: absolute;
    right: 30px;
    top: 20px;
    width: 64px;
    height: 46px
}

.explain-area > .top-area > .timer.ten_s {
    background: #0d9df9;
    border: 1px solid #ed5a30;
    color: #fff
}

.explain-area > .top-area > .timer.ten_s::before {
    content: "";
    /*background: url(../assets/img/viewer/icon_timer_on.png) no-repeat;*/
    width: 30px;
    height: 33px;
    display: inline-block;
    position: absolute;
    top: -1px;
    left: -40px
}

.list-area .list-basic.pc {
    display: block
}

.list-area .list-basic.mob {
    display: none
}

@media all and (max-width: 720px) {
    .next-area > .pe-wrap {
        display: none
    }

    .class-area > .pe-wrap {
        display: none
    }

    .solving-nav > .qs-list.n_ty02 {
        display: inline-block;
        float: none;
        width: 26px;
        height: 26px;
        padding: 0;
        margin: 0 8px;
        /*background: url(../assets/img/viewer/icon_list_n.png) no-repeat left top;*/
        background-size: 24px 26px;
        border: none;
        border-radius: 0;
        text-indent: -9999px;
        vertical-align: top
    }

    .solving-nav > .qs-list.n_ty03 {
        display: inline-block;
        float: none;
        width: auto;
        height: auto;
        font-weight: 400;
        font-size: 15px;
        color: #666;
        line-height: 31px;
        padding: 0;
        margin: 0 7px;
        border: none;
        vertical-align: top
    }

    .solving-nav > .clip.mobile-view {
        top: 0;
        width: 26px;
        height: 26px;
        padding: 0;
        text-indent: -9999px
    }

    .solving-nav > .memo.mobile-view {
        top: 0;
        width: 26px;
        height: 26px;
        padding: 0;
        text-indent: -9999px
    }

    .list-area {
        padding-left: 15px;
        padding-right: 15px
    }

    .list-area .list-basic {
        padding-right: 0
    }

    .list-area .list-basic.pc {
        display: none
    }

    .list-area .list-basic.mob {
        display: block
    }

    .list-area .list-basic > li {
        float: left;
        width: 18%;
        height: 45px;
        padding: 0;
        margin: 1%;
        background: 0 0;
        border: 1px solid #d2d2d2;
        border-radius: 3px;
        box-sizing: border-box;
        text-align: center
    }

    .list-area .list-basic > li.none {
        float: left;
        width: 18%;
        height: 45px;
        padding: 0;
        margin: 1%;
        background: 0 0;
        border: 1px solid #d2d2d2;
        border-radius: 3px;
        box-sizing: border-box;
        text-align: center
    }

    .list-area .list-basic > li.solved_n {
        color: #fff;
        background: #08a5e4
    }

    .list-area .list-basic > li > a.num-default {
        line-height: 45px;
        padding: 0;
        margin: 0
    }

    .list-area .list-basic > li.solved_n a.num-default {
        color: #fff
    }

    .list-area .list-basic > li > span.number-txt {
        display: none
    }

    .list-area .height-type03 > ul > li {
        float: left;
        width: 18%;
        height: 45px;
        padding: 0;
        margin: 1%;
        background: 0 0;
        border: 1px solid #d2d2d2;
        border-radius: 3px;
        box-sizing: border-box;
        text-align: center
    }

    .list-area .height-type03 > ul > li.solved_n {
        color: #fff;
        background: #08a5e4
    }

    .list-area .list-basic > li.like.active_n {
        background-color: #fff
    }

    #solving .popup-dim {
        height: 100%
    }

    .memo-popup {
        width: 100% !important;
        left: 0 !important;
        bottom: -10px !important;
        margin: 0 !important
    }


    .solving-layout > .explain-wrap .eraser-big {
        display: none
    }

    .explain-area.left.w358 {
        width: 100%
    }

    .explain-area.right.w350 {
        width: 100%
    }

    .solving-nav.pc {
        display: none
    }

    .solving-nav.mob {
        display: block
    }

    .pc_mb_db {
        display: none
    }

    .mb_bx_n03 {
        padding: 20px 0 0 0;
        margin: 20px 0 -20px 0;
        border-top: 1px solid #666;
        display: block
    }

    .mb_bx_n03 li {
        float: left;
        width: 32%;
        margin: 2% 0
    }

    .mb_bx_n03 li.mid {
        margin: 2% 2%
    }

    .mb_bx_n03 li .in_bx {
        height: 40px;
        font-size: 13px;
        color: #222;
        line-height: 16px;
        padding: 4px 0 0 0;
        border: 1px solid #d2d2d2;
        background: #f8f8f8;
        text-align: center
    }

    .mb_bx_n03 li .in_bx2 {
        height: 62px;
        font-size: 13px;
        color: #222;
        line-height: 16px;
        padding: 4px 0 0 0;
        border: 1px solid #d2d2d2;
        background: #f8f8f8;
        text-align: center
    }

    .mb_bx_n03 li .in_bx2 p span {
        color: #0d9df9
    }

    .mb_bx_n03 li .in_bx p span {
        color: #0d9df9
    }

    .solving-nav > .prev {
        background-position: left top;
        padding-bottom: 10px
    }

    .solving-nav > .next {
        background-position: right top;
        padding-bottom: 10px
    }

    .solving-wrap .title {
        height: 50px;
        padding: 15px 15px 15px 15px;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: normal;
        overflow: hidden
    }

    #solving {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%
    }

    .solving-wrap {
        padding: 15px 15px
    }

    .solving-layout {
        position: fixed;
        top: 65px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        width: auto;
        padding: 10px 0 0 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px
    }

    /*.explain-area.left .class-area {*/
    /*    position: fixed;*/
    /*    top: 122px;*/
    /*    left: 30px;*/
    /*    right: 30px;*/
    /*    bottom: 90px;*/
    /*    width: auto;*/
    /*    overflow-y: scroll*/
    /*}*/

    .explain-area.right {
        position: fixed;
        top: 122px;
        left: 30px;
        right: 30px;
        bottom: 110px;
        width: auto;
        height: auto;
        margin-top: 0
    }

    .explain-area.right > .ex-listTab {
        top: 0
    }

    .explain-area.right .list-area {
        position: fixed;
        top: 160px;
        left: 30px;
        right: 30px;
        bottom: 110px;
        width: auto;
        height: auto;
        margin-top: 0;
        overflow-y: scroll;
        border-radius: 0
    }
    .no_scroll_n {
        display: block;
        font-size: 13px;
        color: #888;
        line-height: 13px;
        padding: 5px 0 0 0;
        margin-top: 45px;
        border-top: 1px solid #d2d2d2;
        text-align: right
    }

    button.btn_view_end {
        width: 100%;
        height: 43px;
        color: #fff;
        padding: 0;
        margin: -20px 0 0 0;
        background: #0d9df9;
        border-radius: 3px;
        text-align: center
    }

    .list-area .height-type02, .list-area .height-type03 {
        max-height: none
    }
}

.explain-area.right > .ex-listTab.nth-4 {
    right: 238px
}

.list-area .list-basic > li.like {
    position: relative
}

.list-area .list-basic > li > span.ftr {
    position: absolute;
    top: 14px;
    left: 41px
}

.list-area .list-basic > li > span.ftr img {
    width: 25px
}

.list-area .height-type03 > ul > li {
    position: relative
}

.list-area .height-type03 > ul > li > span.ftr {
    position: absolute;
    top: 16px;
    left: 13px
}

.mobile-view.btn_view_end {
    display: block
}

@media all and (max-width: 720px) {
    .explain-area.right > .ex-listTab {
        width: 75px
    }

    .explain-area.right > .ex-listTab.nth-1 {
        right: 148px
    }

    .explain-area.right > .ex-listTab.nth-2 {
        right: 74px
    }

    .explain-area.right > .ex-listTab.nth-4 {
        right: 223px
    }

    .solving-wrap > .scroll-x {
        position: fixed;
        left: 30px;
        bottom: 90px;
        right: 30px;
        width: auto
    }

    .solving-wrap > .scroll-x > .progress {
        background: #eee
    }

    .solving-nav > .clip.mobile-view.none {
        /*background: url(../assets/img/viewer/icon-like-big-off.png) no-repeat center left;*/
        background-size: 26px 24px
    }

    .mobile-view.btn_view_end {
        display: block
    }
}

.solving-layout.teacher_n_ty01 .example-wrap > .progress {
    display: none
}

.solving-layout.teacher_n_ty01 .example-wrap > span.num-txt {
    display: none
}

@media all and (max-width: 720px) {
    .explain-area > .top-area > .txt-wrong {
        font-size: 13px;
        letter-spacing: -1px
    }

    .complete-wrap > li > span {
        font-size: 16px
    }

    .solving-layout .txt-type01 {
        font-size: 18px
    }

    .solving-layout > .connect-area.type-other {
        top: 110px;
        height: auto
    }

    .solving-layout > .connect-area > .eraser-big, .solving-layout > .connect-area > .pencil-big {
        display: none
    }

    .explain-area > .top-area > .txt-wrong::before {
        background-size: 76%
    }
}

.viewer-wrap > .viewer-nav > .icon-channel img {
    height: 23px
}

.study-wrap > .board-wrap > .bd-1depth > .btn-wrap > img {
    height: 23px
}

.study-wrap > .board-wrap > .bd-2depth > .i_clock {
    display: block;
    height: 55px;
    font-size: 16px;
    color: #222;
    line-height: 55px;
    /*background: url(../assets/img/viewer/icon_clock.png) no-repeat left 15px;*/
    padding-left: 28px
}

.study-wrap > .board-wrap > .bd-2depth > .i_clock:hover {
    color: #0d9df9;
    /*background: url(../assets/img/viewer/icon_clock_on.png) no-repeat left 15px*/
}

p.btm_Tx {
    font-size: 18px;
    color: #666;
    padding-top: 11px;
    text-align: center;
    margin-bottom: 15px
}

p.btm_Tx span.tx_orange {
    font-weight: 700;
    color: #3ac4fc
}

p.btm_Tx span.tx_blue {
    font-weight: 700;
    color: #0086c7
}

.checkBtn{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #8f8f8f;
    padding-left: 0px;
    outline: none;
    margin: auto !important;
    margin-left: 0px !important;
    margin-right: 0px  !important;
}
.theoremFont{
    font-size: 22px !important;
    font-weight: 300;
}

.answerMarginTake{
    padding-top: 3px;
    line-height: 1.4;
    margin-left: 10px;
    /*width: 90% !important;*/
    font-size: 18px;
}
.answerMargin{
    line-height: 1.4;
    margin-left: 10px;
    width: 90% !important;
    font-size: 18px;
}
.questionOptionNumber{
    font-size: 19px;
    font-weight: bold;
    margin-top:18px;
}
.takeOptionNumber
{
    font-size: 18px;
    font-weight: bold;
    margin-top:18px;
}
.answer-text{
    display: inline-block;
    border-radius: 50%;
    width: 120px;
    height: 18px;
    margin-right: 10px;
    font-size: 14px;
    text-align: center;
    text-indent: -1px;
    line-height: 16px;
}
.answerTrue{
    color: #0d9df9;
}
.changed{
    background-color: #fffedc;
}
.answerFlag{
    color: #fff;
    background: #0d9df9 !important;
    border-color: #0d9df9;
    outline: none;
}

.solved{
    color:#fff;
    background:#08a5e4;
}
.giveTypeTxt2{
    display: inline-block;
    width: 100px;
    height: 18px;
    margin-right: 10px;
    font-size: 14px;
    text-align: center;
    text-indent: -1px;
    line-height: 16px;
    margin-right: 8px;
}
.giveTypeTxt{
    display: inline-block;
    width: 100px;
    height: 18px;
    margin-right: 10px;
    font-size: 14px;
    text-align: center;
    text-indent: -1px;
    line-height: 16px;
    margin-right: 8px;
}
.likenone{
    /*background:url(../assets/img/viewer/icon-like-over.png) no-repeat center left 10px;*/
}
.liked{
    /*background:url(../assets/img/viewer/icon-like-off.png) no-repeat center left 10px;*/
}
.showCanvas{
    visibility:hidden
}
.checked{
    color: #fff;
    background: #0d9df9 !important;
    border-color: #0d9df9;
}
.htmlV >>> p{
    margin-top: 0px !important;
}
.checkedColor{
    color: #0d9df9;
    background: #fff;
    border-color: #0d9df9;
}
.buttonOn{
    width: 272px;
    float: right;
    background:#0d9df9;
    height: 52px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    -webkit-transition: .2s;
    transition: .2s;
    padding-top: 10px;
}
.tabnew{
    height: 38px;
    text-align: center;
    display: block;
    color: #888;
    line-height: 38px;
    font-size: 15px;
    border: 1px solid #ddd;
    border-radius: 10px 10px 0 0;
    border-bottom: 0;
    width: 80px;
    padding-left: 0px;
}
.uk-tab>.uk-active>a {
    color: white;
    background-color: #3ac4fc;
    border-color: #fff;
    height: 38px;
    text-align: center;
    display: block;
    line-height: 38px;
    font-size: 12px;
    /* border: 1px solid #ddd; */
    border-radius: 10px 10px 0 0;
    border-bottom: 0;
    width: 80px;
    padding: 0 0 0 0px;
    text-transform: none;
}
@media all and (max-width:720px) {
    .theoremFont{
        font-size: 20px !important;
        font-weight: 300;
        margin-top: -7px;
    }
}
@media all and (max-width:767px) {
    .theoremFont{
        font-size: 20px !important;
        font-weight: 300;
        margin-top: -7px;
    }
    .questionOptionNumber{
        margin-top: 15px;
    }
    .takeOptionNumber{
        margin-top: 15px;
    }
}


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 100ms ease-in;
    -moz-transition: opacity 100ms ease-in;
    transition: opacity 100ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}

.modalDialog > div {
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
    width: 600px;
    max-width: calc(100% - 0.01px) !important;
    transition: .3s linear;
    transition-property: opacity,transform;
    opacity: 1;
    top: 32px;
}

.modelclose {
    font-family: Arial, Helvetica, sans-serif;
    background: #0d9df9;
    color: #fff;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 34px;
    height: 34px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
    padding-top: 5px;
}

.modelclose:hover {
    background: #0d9df9;
}

.removeKeyword {
    padding: 2px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 3px;
}

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: table;
    transition: opacity 0.3s ease;
}

.modal-wrapper {
    display: table-cell;
    /*vertical-align: middle;*/
}

.modal-container {
    width: 900px;
    margin: 0px auto;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
}

.modal-header {
    padding: 10px;
    font-size: 15px;
    /*background: aliceblue;*/
    height: 60px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: 1px solid #dee2e6;
    text-align: center;
}

.modal-header h4 {
    margin-top: 0;
    color: #42b983;
}

.modal-header p {
    font-size: 18px;
    margin-top: 10px;
}

.modal-body {
    margin: 0px 0;
}

.modal-footer {
    height: auto;
    padding: 15px;
    /*background: #999999;*/
    justify-content: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top: 1px solid #dee2e6;
}

.modal-search > input {
    width: 290px;
    padding-left: 10px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid #dee2e6;
}

.achievementCodeSpan {
    padding: 5px;
    background: #00ffff;
    font-size: 13px;
}

.modal-default-button {
    padding: 5px;
    background: #fff;
    border-radius: 15px;
    width: 90px;
    text-align: center;
    border: 1px solid #dee2e6;
}

.modal-search {
    padding-left: 20px;
    padding-top: 10px;
}

.modal-table {
    padding: 20px;
    overflow: auto;
    max-height: 400px;
    min-height: 350px;
}
.title_table {
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-top: 2px solid #0d9df9;
}

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.margin-left {
    margin-left: 20px;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
