.breadcrumb{
    border : 0;
    padding-bottom : 0;
}

section nav{
    display : flex;
    justify-content: space-between;
    border-bottom : 1px solid #e6e9ec;
}

section nav ul{
    display : flex;
    font-size : 15px;
}

section nav ul li{
    font-size : 15px;
    padding : 0 25px;
    padding-bottom : 15px;
    text-align : center;
    color : #999;
    font-weight : 700;
}

section nav ul li.on{
    color : #000;
    border-bottom : 3px solid;
}

section .group_breadcrumb{
    color : #858585;
}

section .content-wrap{
    justify-content: space-between;
}

section .content{
    margin-right : 40px;
    margin-bottom : 50px;
    flex : 1;
    position : relative;
}

section .content .btn-right{
    position : absolute;
    right : 0;
    top : 0;
}

section .content button.right{
    width : 40px;
    height : 40px;
    display : flex;
    justify-content: center;
    align-items: center;
    background-color : #a3a3a3;
    border : 0;
}

section .content article{
    padding: 50px 0;
    border-bottom : 1px solid #eaeaea;
}

section .content article h3{
    margin-bottom : 30px;
}

section .content article p.articel-inner-tt {
    color : rgba(0,0,0,0.5);
    font-size  : 13px;
    margin-bottom : 10px;
	padding-left:20px; position:relative; line-height:21px;
}
section .content article p.articel-inner-tt:before {content:""; display:block; position:absolute; left:6px; top:7px;  width:4px; height:4px; border-radius:4px; background:#b0b0b0;}
section .content article.share > div{
    margin-bottom : 30px;
}

section .content article.share > div:last-child{
    margin-bottom : 0;
}

section .content article ul{
    display : flex;
    flex-wrap: wrap;
}

section .content article ul li{
    border : 1px solid #e6e9ec;
    border-radius : 5px;
    width : 295px;
    height : 60px;
    margin-left : 6px;
    margin-bottom : 10px;
    font-size : 13px;
    font-weight : 700;
    display : flex;
    align-items: center;
    justify-content: center;
    cursor : pointer;
}

section .content article ul li.on{
    color : #fb5f33;
    border: 1px solid #fb5f33;
    box-shadow: 1px 5px 7px 0px #dedede;
}

section .content article.share ul li{
    width : auto;
    flex : 1;
}


section .content article ul li:first-child{
    margin-left : 0px;
}

section .content article.share .input-score{
    width: 55px;
    border: 0;
    border-bottom: 1px solid #dee2e6;
    margin-right: 4px;
}

section .content .btn-wrap{
    margin-top : 85px;
    display : flex;
    justify-content: flex-end;
}

section .content .btn-wrap button{
    font-size : 16px;
    font-weight : 700;
    height : 50px;
}

section .content .btn-wrap .btn-gray{
    width : 135px;
    margin-right : 8px;
}

section .content .btn-wrap .btn-red{
    width : 195px;
}

section .content .btn-wrap .btn-red i.check-white{
    margin-right : 10px;
}

/* aside */
aside{
    padding-top: 50px;
    padding-left : 25px;
    border-left : 1px solid #e6e9ec;
    width : 285px;
}

aside dt{
    font-size : 15px;
    font-weight : 700;
    padding-bottom : 15px;
    border-bottom : 1px solid #e2e6e9;
    display : flex;
    justify-content: space-between;
    align-items: center;
}

aside dl ul{
    margin-top : 15px;
    font-weight: 700;
    font-size : 13px;
    word-break: keep-all;
}

aside dl li{
    border : 1px solid #ebd4cc;
    padding : 10px 15px;
    background-color : #fbf7f5;
    margin-bottom : 5px;
    border-radius : 5px;
}

.score-wrap > .flex > span{
    margin-right : 50px;
}

.radio-wrap{
    position :relative;
    margin-right : 20px;
}

.radio{
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width : 1px;
    height : 1px;
	display:none;
}
.radioButton{
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width : 1px;
    height : 1px;
    display:none;
}

.radio + label{
    background-image : url('../../../img/icons/question_card/check.png');
    background-repeat : no-repeat;
    background-size: 20px;
    background-position: left center;
    display: flex;
    align-items: center;
    height: 20px;
    padding-left: 30px;
}

.radio:checked + label{
    background-image : url('../../../img/icons/question_card/checked.png');
}
section .content article.share .multimedia ul li{flex:inherit; width:226px;}

.form-contents {width:900px; margin:0 auto; padding:70px 0 100px;}
.form-contents .form-box:nth-child(n+2) {margin-top:50px;}
.form-contents .form-box .form-tt {font-size:30px; color:#987f50; letter-spacing:-0.03em; margin-bottom:30px; line-height:32px; font-weight:bold;}
.form-contents .form-box h3 {margin-bottom:15px;}
.form-contents .form-box .form-disc {font-size:12px; color:#4a9faf; font-weight:bold;}
.form-contents .form-box .file {margin-top:10px;}
.form-contents .file{
    border : 1px solid #d6d6d6;
    border-top : 2px solid #fb5f33;
    padding: 10px 15px 72px;
    display : flex;
    width : 100%;
}

.form-contents .file p{
    font-size : 13px;
    color : #666666;
    border-bottom : 1px solid #efefef;
    display : flex;
    align-items: center;
    flex : 1;
}

.form-contents .file .btn-white{
    width: auto;
    height: 35px;
    font-size: 12px;
    font-weight: 700;
    color : #fb5f33;
    padding: 0 20px 0 10px;
}
.form-contents .file .btn-white:nth-child(n+2) {margin-left:5px;}
.form-contents .file i {
    margin-right : 10px;
}
.form-contents .file .media{
    margin-right : 5px;
}
.form-contents .file input[type='file']{
    display : none;
}

.form-contents .delete button{
    width : 27px;
    height : 27px;
}









