.content-wrap article{
    padding-top : 0;
}

section article {
    margin-right: 20px;
    margin-bottom: 50px;
    flex: 1;
    position: relative;
}

h2{
    margin : 30px 0;
}

h3{
    margin-bottom : 20px;
}

i{
    display : inline-block;
}

.btn-white{
    border : 1px solid #ccc;
}

.froala-wrap .fr-element{
    height : 155px;
}

.content{
    margin-bottom : 40px;
}

.icon-list{
    display : flex;
    align-items: center;
    padding : 0 10px 15px;
    border-bottom : 1px solid #eaeaea;
}

.icon-list li{
    margin : 0 10px;
    cursor : pointer;
    font-size : 14px;
}

.content-list{
    display : flex;
    flex-direction: column;
    padding : 30px 10px;
}

.content-list li{
    height : 120px;
    margin-bottom : 10px;
}

.content-list.answer-text {padding:20px 10px;}
.content-list.answer-text li {height:auto; margin-bottom:30px;}
.content-list.answer-text li:last-child {margin-bottom:0;}
.content-list .num{
    display : flex;
    margin-right : 3px;
}

.content-list .num > div{
    border : 1px solid #dee2e6;
    border-right : 0;
    width : 33px;
    height : 33px;
    display : flex;
    align-items: center;
    justify-content: center;
}

.content-list .num > div:last-child{
    border-right : 1px solid #dee2e6;
}

.content-list .num .count{
    display : flex;
    flex-direction: column;
}

.content-list .type{
    background-color : #f2f2f2;
    width : 160px;
    height : 100%;
    display : flex;
    align-items: center;
    justify-content: center;
    margin-right : 8px;
}

.content-list .file{
    border : 1px solid #d6d6d6;
    border-top : 2px solid #fb5f33;
    padding: 10px 15px 72px;
    display : flex;
    width : 605px;
    position:relative;
}

.content-list .file p{
    font-size : 13px;
    color : #666666;
    border-bottom : 1px solid #efefef;
    display : flex;
    align-items: center;
    flex : 1;
}

.content-list .file .btn-white{
    width: auto;
    height: 35px;
    font-size: 12px;
    font-weight: 700;
    color : #fb5f33;
    padding: 0 20px 0 10px;
}
.content-list .file .btn-white:nth-child(n+2) {margin-left:5px;}
.content-list .file .load{
    margin-left : 10px;
}
.content-list .file .media{
    margin-right : 5px;
}
.content-list .file input[type='file']{
    display : none;
}
.content-list .file .source {position:absolute; top:60px; left:15px; }
.content-list .delete button{
    width : 27px;
    height : 27px;
}

.icon-list .desc{
    font-size : 13px;
    display : flex;
    align-items : flex-start;
    cursor : default;
}

.checkbox_wrap{
    position : relative;
}

.content-list label{
    display :block;
    width : 33px;
    height : 33px;
    background : #dee2e6;
    position : relative;
    cursor:pointer;
    background-image: unset;
    margin-right: 15px;
}

.content-list input[type='checkbox']:checked + label{
    background-image : url("../../../img/icons/preview/checked.png");
    background-size : 33px;
}


.fr-toolbar .fr-command.fr-btn i{
    font-size: 12px;
    width : 7px;
}

.fr-toolbar .fr-command.fr-btn{
    width : 34px;
    height : 34px;
}

.fr-element{
    height : 120px;
}

.answer-froala-wrap li{
    height : 230px;
    align-items: flex-start;
}

.answer-froala-wrap .froala,.floala,.froala .answer_froala{
    width : 780px;
}

.suggest .answer_froala{
    width : 742px;
}

.answer-branch .answer_froala{
    width: 100%;
}

.checkbox{
    bottom : 0;
}

.num{
    position : relative;
}

.num select{
    width : 75px;
}

.num .select-wrap{
    width : 75px;
}

button.btn-add-answer{
    width : 165px;
    height : 50px;
    color : #fb5f33;
    border : 1px solid;
    font-size : 14px;
    font-weight: 700;
}

div.btn-add-answer ,div.btn-delete-answer{
    display : flex;
    justify-content: flex-end;
}

.btn-delete-answer .btn-white, button.btn-delete-answer{
    width : 165px;
    height : 50px;
    color : #999;
    border : 1px solid;
    font-size : 14px;
    font-weight: 700;
}

.btn-add-answer .btn-white{
    width : 165px;
    height : 50px;
    color : #fb5f33;
    border : 1px solid;
    font-size : 14px;
    font-weight: 700;
}

.content-list li.text{
    height : 270px;
}

.incorrect_note_wrap li.text{
    height : 230px;
}

.btn-wrap{
    padding-top : 40px;
    margin-top : 50px;
    border-top : 1px solid #eaeaea;
}

.input-wrap{
    align-items: flex-end;
    height : 70px;
    margin-bottom : 15px;
}
.input-wrap .input{
    flex : 1;
    border : 0;
    border-bottom : 1px solid #dee2e6;
    margin-bottom : 0;
    margin-right : 55px;
}

.btn-red.btn-temp{
    width : 100%;
    height : 50px;
    font-size : 16px;
    font-weight: 700;
    margin-bottom : 30px;
}

.btn-temp i{
    margin-right : 10px;
}

#preview{
    display : none;
    position : absolute;
    width : 1350px;
    height : 1082px;
    border-top : 1px solid #987f50;
    z-index : 12;
    background-color : #fff;
    top : 180px;
    bottom : 150px;
    left : 0;
    right : 0;
    margin : 0 auto;
}

#preview.on{
    display : flex;
}

#preview:before{
    content : '';
    display : block;
    width : 100vw;
    height : 100vh;
    background-color : rgba(0,0,0,0.6);
    position : fixed;
    top:0;
    left:0;
}

#preview section{
    z-index : 12;
    padding : 0;
    width : 100%;
    overflow : hidden;
    padding : 50px 55px;
    background-color : #fff;
    position:relative;
}

#preview .content-wrap .left{
    padding : 0;
    overflow-y: scroll;
    height : 1000px;
    padding-right : 35px;
}

#preview .content-wrap .left p{
    width : 100%;
    font-size : 12px;
}


#preview .answer li{
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
    font-weight: 700;
    font-size: 13px;
    border-bottom: 1px solid #dee2e6;
    border-top : 0;
}

#preview .answer li > span {
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    font-size: 14px;
    border: 1px solid #e3e7ea;
    border-radius: 50%;
    padding : 0;
    color : #000;
}

#preview .answer li.on > span{
    background-color : #0084ff;
    color : #fff;
    border-color:#0084ff;
}

#preview .content-wrap{
    padding : 0;
}

#preview .answer{
    margin-top : -40px;
}

#preview .btn-close{
    position :absolute;
    top : 20px;
    right : 20px;
}

.head-title-edit > #froala{
    display : none;
}


.content .head-title-type {padding:15px 0; display:none;}
.head-title-type.flex > span {width: 85px;padding-left: 20px; color:#000000; font-weight:500; font-size:12px;}

.radio-wrap{
    position :relative;
    margin-right : 20px;
}

.radio{
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width : 1px;
    height : 1px;
    display:none;
}

.radio + label{
    background-image : url('../../../img/icons/question_card/check.png');
    background-repeat : no-repeat;
    background-size: 20px;
    background-position: left center;
    display: flex;
    align-items: center;
    height: 20px;
    padding-left: 30px;
}

.radio:checked + label{
    background-image : url('../../../img/icons/question_card/checked.png');
}

.content .select-list {border:1px solid #dee2e6; padding:15px 30px; }
.content .select-list.head-title-select {display:none;}
.content .select-list .flex > span {width: 95px;padding-left: 0; color:#000000; font-weight:500; font-size:12px;}
.content .select-list .flex:nth-child(n+2) {margin-top:10px;}
.content .select-list .select2 {width:100% !important;}
.content .select-list .input {width:100%; border-left:0; border-top:0; border-right:0;}

.table-wrap .thumb {display : flex; align-items: center; justify-content: center; padding:10px 0; height:80px;}
.table-wrap .thumb-box{
    background-color : #f2f2f2;
    width : 80px;
    height : 60px;
    display : flex;
    align-items: center;
    justify-content: center;
}
.table-wrap .thumb-box img {width:20%;}
.table-wrap .source-name {text-align:left; padding-left:20px; padding-right:20px;}
.table-wrap .btn-wrap {border-top:0;}
