.right strong{
    font-size : 15px;
    border-bottom : 1px solid #e2e6e9;
    height : 45px;
    width : 100%;
    display : flex;
    align-items: center;
    justify-content: space-between;
}

.right .essential ul{
    margin-top: 15px;
    font-weight: 700;
    font-size: 13px;
    word-break: keep-all;
    display : none;
}

.right .essential ul.on{
    display : flex;
    justify-content: space-between;
    flex-wrap : wrap;
}

.right .essential li {
    border: 1px solid #ebd4cc;
    padding: 10px 15px;
    background-color: #fbf7f5;
    margin-bottom: 5px;
    border-radius: 5px;
    width : 285px;
}

.right .selected-list{
    margin-bottom : 75px;
}

.right .selected-list ul{
    flex : 1;
}

.right .selected-list li{
    color : #8d8d8d;
    background-color : #f5f5f5;
    position : relative;
    padding : 10px 20px;
    padding-right : 30px;
    word-break: keep-all;
    font-weight: 700;
    font-size : 13px;
    line-height : 17px;
    margin : 10px 0 0;
    border-radius : 5px;
    width : 285px;
    height : auto;
}

.right .selected-list li i{
    position : absolute;
    top : 0;
    right : 0;
    display : block;
    width : 28px;
    height : 100%;
    background-position: center;
    background-color : #a3a3a3;
    margin-right : 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.right .selected-list > div{
    justify-content: space-between;
}

.content-wrap{
    padding : 30px 0;
}
.preview-cont .content-wrap {padding:30px 0 30px 30px;}

.content-wrap > div{
    flex : 1;
}

.left{
    padding-right : 40px;
    margin-top : 15px;
    border-right : 1px solid #e5e8eb;
}
.preview-cont .content-wrap .left {width:585px; padding-right:30px; margin-top:0;}
.right{
    margin-left : 40px;
}
.preview-cont .content-wrap .right {width:555px; margin-left:30px; position:relative;}

.left .profile{
    border : 1px solid #e5e8eb;
    display : flex;
    height : 100px;
    margin-bottom : 30px;
    display : none;
}

.left .profile > div{
    display : flex;
}

.left .profile .name{
    border-right : 1px solid #e5e8eb;
    background-color : #f0f1f3;
    font-size : 18px;
    font-weight: 700;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width : 150px;
}

.left .profile .name div:first-child{
    text-decoration : underline;
    text-decoration-color: #8c8c8d;
}

.left .test-info{
    flex-direction: column;
    flex : 1;
}

.left .test-info > div{
    display : flex;
    align-items: center;
    justify-content: space-between;
}

.left .test-question{
    height : 40px;
    padding : 0 20px;
    border-bottom : 1px solid #e5e8eb;
}

.left .test-question .total{
    font-size : 14px;
    font-weight: 700;
    color : #555;
    display : flex;
    align-items: center;
}

.left .test-question .total span{
    font-size : 22px;
    color : #000;
    margin : 0 15px;
}


.left .test-question .time{
    color : #fb5f33;
    font-size : 22px;
}

.left .test-type{
    height : 60px;
    padding : 0 25px;
}

.left .test-type .type{
    font-size : 22px;
    font-weight: 700;
}

.left .test-type .type span{
    color : #fff;
    background-color : #555;
    padding : 2px 10px;
    border-radius: 50px;
    font-size : 14px;
    margin-right : 30px;
}

i{
    display : inline-block;
}

.left .profile i{
    margin-right : 10px;
}

.left .profile .help{
    margin-right : 0;
}

.left .test-type .icon{
    display : flex;
    align-items: center;
}


.question .title{
    font-weight: 700;
    font-size : 18px;
    margin-bottom : 10px;
}

.question .content{
    font-weight: 700;
    font-size : 13px;
    line-height : 20px;
}

.question .content p{
    margin-bottom : 20px;
}

.question .content .refer{
    text-align : right;
    color : #999;
    font-size : 14px;
    font-weight: 700;
}

.question .content .refer i.capture{
    vertical-align: middle;
    margin-right : 10px;
}

.answer{
    margin-top : 40px;
    margin-bottom : 25px;
}

.answer li{
    height : 60px;
    display : flex;
    align-items: center;
    position : relative;
    font-weight: 700;
    font-size : 13px;
    border-bottom : 1px solid #dee2e6;
}

.answer li.on > div >span{
    background-color : #0084ff;
    color : #fff;
	border-color:#0084ff;
}
.answerFlag{
    width: 50px;
    height: 38px;
    background-color : #0084ff;
    color : #fff;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    font-size: 16px;
    border : 1px solid #0084ff;
    border-radius: 50%;
}
.answerCheckButton{
    width: 54px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    font-size: 16px;
    border : 1px solid #e3e7ea;
    border-radius: 50%;
}
.answer li > div > span{
    width : 38px;
    height : 38px;
    display : flex;
    justify-content: center;
    align-items: center;
    margin-right : 15px;
    font-size : 14px;
    border : 1px solid #e3e7ea;
    border-radius: 50%;
}

.answer li button{
    position : absolute;
    right : 0;
	top:15px;
    width : 28px;
    height : 28px;
    display : flex;
    justify-content: center;
    align-items: center;
}
.answer li .delete button {top:15px;}
.incoreect_note{
    border-radius : 5px;
    border : 1px solid #e2e6e9;
    min-height : 125px;
    margin-bottom : 115px;
}

.incoreect_note .title{
    border-bottom : 1px solid #e2e6e9;
    font-weight: 700;
    font-size : 14px;
    padding-left : 15px;
    height : 40px;
    display : flex;
    align-items: center;
}

.left .btn-wrap{
    display : flex;
    justify-content: space-between;
}

.right .default ul{
    display : none;
    flex-wrap: wrap;
    font-weight: 700;
    font-size: 13px;
    justify-content: space-between;
    margin-top : 15px;
    margin-bottom : 25px;
}

.right .default ul.on{
    display: flex;
}

.right .default li{
    align-items: center;
    width : 50%;
    margin-bottom :15px;
}

.right .default li:before{
    content : '';
    display : block;
    width : 1px;
    height : 1px;
    background-color : #000;
    margin: 0 15px;
}

.right .proposer ul{
    display : flex;
    border-bottom : 1px solid #dee2e6;
}

.right .proposer > ul > li{
    font-size : 14px;
}

.right .proposer li{
    font-weight : 800;
    font-size : 13px;
    color : #999;
    cursor : pointer;
}

.right .proposer li.on{
    color : #000;
    border-bottom : 3px solid;
}

.right .proposer li a{
    display: flex;
    align-items: center;
    padding: 0 20px;
    height : 50px;
    width : 100%;
    line-height: 50px;
}

.right .proposer .content{
    border : 1px solid #dee2e6;
    border-top:0;
}

.right .proposer .content > div:first-child{
    padding : 30px;
    display : flex;
    justify-content: space-between;
    flex-wrap : wrap;
}

.right .proposer .btn-wrap{
    padding : 20px;
    display : flex;
    justify-content: space-between;
}

.right .proposer .btn-wrap button{
    color : #fb5f33;
    font-size : 13px;
    font-weight: 700;
    width : 265px;
    height : 35px;
    border : 1px solid #ccc;
    box-shadow: 1px 5px 7px 0px rgba(0,0,0,0.15);
}

.right .proposer .btn-wrap button .next{
    margin-left : 15px;
}

.right .proposer .image{
    margin-right : 40px;
}

.right .proposer .check{
    font-size: 13px;
    font-weight: 700;
    line-height: 15px;
    color : #000;
}

.right .proposer .check li{
    color : #000;
}

.right .proposer p{
    word-break: keep-all;
    margin-bottom : 30px;
    width : 420px;
}

.right .proposer .check li{
    padding : 20px 0;
}

.right .proposer .checkbox{
    bottom : 0;
}

.right .proposer .checkbox + label{
    background-image: url("../../../img/icons/preview/check.png");
    display : inline-block;
    margin : 0 5px;
    cursor : pointer;
}

.right .proposer .checkbox:checked + label{
    background-image: url("../../../img/icons/preview/checked.png");
}


.left .btn-wrap button{
    height : 50px;
    font-weight: 700;
    font-size : 16px;
    width : 135px;
}

.left .btn-wrap .btn-white{
    color : #999;
}

.left .btn-wrap .btn-white i{
    margin-right : 10px;
}

.left .btn-wrap .btn-red i{
    margin-right : 10px;
}

.right .table-wrap{
    margin-top : 20px;
}

.right .table-wrap table{
    width : 100%;
}

.right .table-wrap td,th{
    position : relative;
}

aside.type-r-left {width:50px; background:#eaeaea; padding:90px 8px 0;}
aside.type-r-left li a {display:block; background:#a3a3a3; height:25px; text-align:center; line-height:25px; color:#fff; font-size:12px; border-radius:3px; }
aside.type-r-left li {margin-top:10px;}
aside.type-r-left li.on a {background-color:#fb5f33;}
.preview-cont .incoreect_note {margin-bottom:0;}
.preview-cont .content-wrap .right .selected-list li {width:270px;}
.preview-cont .content-wrap .right .essential li {width:270px;}
.preview-cont .top-btn-area {padding:10px;}
.preview-cont .top-btn-area .btn-red {width:170px; height:50px; font-size:16px;}
.preview-cont .question .content {margin-right:0;}
.preview-cont .right .selected-list-title{
    font-size : 15px;
    border-bottom : 1px solid #e2e6e9;
    height : 45px;
    width : 100%;
    display : flex;
    align-items: center;
    justify-content: space-between;
}
.preview-cont .right .selected-list-title strong {border-bottom:0; width:auto;}
.preview-cont .right .selected-list-title button {width:130px; height:35px; font-size:13px;}
.preview-cont .right .essential {margin-top:20px;}
.preview-cont .right .selected-list {margin-top:20px;}
.preview-cont .right button i{
    margin-right : 10px;
}
.preview-cont .right .btn-wrap{justify-content: space-between; position:absolute; bottom:0; left:0; width:100%;}

.preview-cont .right .btn-wrap button{
    font-size : 16px;
    font-weight: 700;
}

.preview-cont .right .btn-gray{
    margin-right : 8px;
}

.preview-cont .right .btn-wrap button{
    height : 50px;
}

.preview-cont .right .btn-white.prev{
    width : 135px;
}

.preview-cont .right .btn-gray.delete{
    width : 105px;
}

.preview-cont .right .btn-red-line.next{
    width : 135px;
}
.preview-cont .right .btn-red.next{
    width : 135px; margin-left:8px;
}
