.select2-container--default .select2-selection--single .select2-selection__placeholder{
    color : #000;
}

.btn-wrap button{
    height : 50px;
}

.btn-white.prev{
    width : 135px;
}

.btn-gray.delete{
    width : 105px;
}

.btn-red.next{
    width : 175px;
}

/* left */
.content-wrap{
    justify-content: space-between;
}

.content-wrap .left{
    width : 250px;
    padding: 27px 0;
    border-right : 1px solid #e6e9ec;
}

.content-wrap .left p{
    font-weight : 700;
    font-size : 13px;
    width : 210px;
    margin-bottom : 35px;
}

.content-wrap .left ul{
    margin-bottom : 20px;
}

.content-wrap .left ul li{
    border-top : 1px solid #e6e9ec;
    height : 40px;
    display : flex;
    align-items: center;
    padding-left : 8px;
    font-weight :  700;
    font-size : 13px;
}


.content-wrap .left ul li:last-child{
    border-bottom : 1px solid #e6e9ec;
}

.content-wrap .left ul li.on{
    color : #fb5f33;
}

.content-wrap .left ul li span{
    color : #fff;
    padding : 2px 4px;
    border-radius: 5px;
    margin-right : 20px;
}

.content-wrap .left ul li span.gray{
    background-color : #a3a3a3;
}

.content-wrap .left ul li span.red{
    background-color : #fb5f33;
}

.content-wrap .left .btn-white{
    width : 230px;
    height : 50px;
    border : 1px solid #fb5f33;
    color : #fb5f33;
    font-size : 14px;
    font-weight: 700;
}


/* article */
.content-wrap article{
    width : 660px;
    padding: 50px 0;
    padding-right : 40px;
    border-right : 1px solid #e6e9ec;
}

.content-wrap article .btn-wrap{
    justify-content: space-between;
}

.content-wrap article .btn-wrap button{
    font-size : 16px;
    font-weight: 700;
}

.btn-wrap .btn-gray{
    margin-right : 8px;
}


/* aside */
.content-wrap aside{
    width : 285px;
    padding : 17px 0;
}

aside strong{
    font-size : 15px;
    border-bottom : 1px solid #e2e6e9;
    height : 45px;
    width : 100%;
    display : flex;
    align-items: center;
    justify-content: space-between;
}

aside .essential ul{
    margin-top: 15px;
    font-weight: 700;
    font-size: 13px;
    word-break: keep-all;
    display : none;
}

aside .essential li {
    border: 1px solid #ebd4cc;
    padding: 10px 15px;
    background-color: #fbf7f5;
    margin-bottom: 5px;
    border-radius: 5px;
}

aside .selected-list li{
    color : #8d8d8d;
    background-color : #f5f5f5;
    position : relative;
    padding : 10px 20px;
    padding-right : 30px;
    word-break: keep-all;
    font-weight: 700;
    font-size : 13px;
    line-height : 17px;
    margin : 10px 0;
    border-radius : 5px;
    border : 1px solid #dcdcdc;
}

aside .selected-list li i{
    position : absolute;
    top : 0;
    right : 0;
    display : block;
    width : 28px;
    height : 100%;
    background-position: center;
    background-color : #a3a3a3;
    border-radius : 0 5px 5px 0;
    cursor : pointer;
}

.btn-white.plus{
    font-size: 14px;
    color: #fb5f33;
    border: 1px solid;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-weight: 700;
}


/* 검색 sub */
.search{
    position : relative;
}
.search-sub{
    display : none;
    padding : 15px;
    border : 1px solid #e6e9ec;
    height : 282px;
    overflow : scroll;
    background-color : #fff;
    position  :absolute;
    width : 100%;
    z-index : 1;
}

.search-sub li{
    cursor : pointer;
    margin-bottom : 15px;
    font-size : 13px;
    color : #7a797d;
}

.search-sub li:last-child{
    margin-bottom : 0;
}

.search-sub li span:after{
    content : ' > ';
}
.search-sub li span:last-child:after{
    content : '';
}

button.prev i{
    margin-right : 10px;
}

button.next i{
    margin-left : 10px;
}
aside.type-r-left {width:50px; background:#eaeaea; margin-right:40px; padding:0 8px;}
aside.type-r-left li a {display:block; background:#a3a3a3; height:25px; text-align:center; line-height:25px; color:#fff; font-size:12px; border-radius:3px; }
aside.type-r-left li {margin-top:10px;}
aside.type-r-left li.on a {background-color:#fb5f33;}
aside.type-r-left .btn-add {display:flex; margin-top:10px; background:#fff; border:1px solid #fb5f33; height:25px; border-radius:3px; width:100%; align-items:center; justify-content:center;}
.input.type2 {border-left:0; border-top:0; border-right:0;}


section article.type_r_cont ul.click-btn{
    display : flex;
    flex-wrap: wrap;
   }

section article.type_r_cont ul.click-btn li{
    border : 1px solid #e6e9ec;
    border-radius : 5px;
    width : 295px;
    height : 60px;
    margin-left : 6px;
    margin-bottom : 10px;
    font-size : 13px;
    font-weight : 700;
    display : flex;
    align-items: center;
    justify-content: center;
    flex : 1;
    cursor : pointer;
}

section article.type_r_cont ul.click-btn li.on{
    color : #fb5f33;
    border: 1px solid #fb5f33;
    box-shadow: 1px 5px 7px 0px #dedede;
}

.type_r_cont .level-stick > div, .level-stick-label > div{
    width : 140px;
    display : flex;
    flex-direction: column;
    flex-wrap : wrap;
}

.type_r_cont .level-stick, .level-stick-label{
    padding-left : 36px;
    margin-bottom : 10px;
}

.type_r_cont #level-bar{
    /* width : 596px; */
    width : calc(596px + 9px);
    position : relative;
}

.type_r_cont .level-stick > div{
    border-left : 1px solid #e6e9ec;
    height : 18px;
    display : flex;
    align-items: center;
    justify-content: center;
}

.type_r_cont .level-stick > div > span{
    display : inline-block;
    width : 100%;
    height : 9px;
    background-color : #f0f1f3;
    position  : relative;
}

.type_r_cont .level-stick > div > span > span:first-child{
    position: absolute;
    left :-5px;
    top : 0;
    cursor : pointer;
    content : '';
    display : block;
    width : 10px;
    height : 100%;
}

.type_r_cont .level-stick > div > span > span:last-child{
    position: absolute;
    right :-5px;
    top : 0;
    cursor : pointer;
    content : '';
    display : block;
    width : 10px;
    height : 100%;
}

.type_r_cont .level-stick .circle{
    content : '';
    display : block;
    width : 18px;
    height : 18px;
    border-radius : 50%;
    background-color : #fb5f33;
    cursor : move;
    transform: translateX(-50%);
    position : absolute;
    top : 0;
}

.type_r_cont .level-stick-label{
    font-size : 13px;
    color : #222;
    font-weight: 700;
    margin-bottom : 30px;
}

.type_r_cont .btn-white.plus{
    margin-bottom : 600px;
}

.type_r_cont .level-stick-label > div:last-child{
    width: auto !important;
    transform : translateX(-50%);
    margin-right: -60px;
    white-space: nowrap;
}

.type_r_cont .level-stick-label > div:first-child{
    width : 163px;
}

.type_r_cont .level-stick-label > div{
    display : block;
    width : 140px !important;
    cursor : pointer;
}

.type_r_cont .level-stick-label > div > span{
    display: inline-block;
    transform : translateX(-50%);
}

.type_r_cont .level-stick-label > div:last-child span{
    transform : translateX(0);
}

