h2{
    margin-bottom : 35px;
}

.search-wrap{
    margin-bottom : 18px;
    justify-content: space-between;
    align-items: center;
}

.search-form form{
    display : flex;
}

.search-form .select2{
    width : 150px;
    margin-right : 10px;
}

.search-form button{
    border: 1px solid #dee2e6;
    background-color : #fff;
    width : 33px;
    height : 33px;
    display : flex;
    align-items: center;
    justify-content: center;
    border-radius : 5px;
}

.table-wrap{
    padding : 200px 0;
    display : flex;
    flex-direction: column;
    align-items: center;
}

.no-search-result{
    font-size : 15px;
    font-weight : 700;
    margin-top : 40px;
    margin-bottom : 10px;
}

.reserarch{
    color : #a3a3a3;
    font-size : 14px;
    margin-bottom : 50px;
}

.btn-white{
    color : #999;
    border : 1px solid #999;
    width : 160px;
    height : 50px;
}

