.breadcrumb{
    border-bottom : 0.5px solid #929292;
}

article{
    padding : 65px 193px 0 157px;
}

article > .title{
    border-bottom : 2px solid #fb5f33;
    display : flex;
    padding-bottom : 35px;
}

article > .title > .image{
    margin-right : 8px;
}

h2.title > span{
    font-size : 16px;
}

h2.title{
    font-size : 26px;
    margin-bottom : 8px;
}

article > .title > .subject .sub{
    display : flex;
}

article > .title > .subject .sub li{
    color : #a3a3a3;
    border-right : 1px solid;
    padding : 0 8px;
}

article > .title > .subject .sub li:first-child{
    padding-left : 0;
}

article > .title > .subject .sub li:last-child{
    padding-right : 0;
}

article > .title > .subject .sub li:last-child{
    border-right : 0;
}

article > .content{
    padding: 50px 0;
    padding-left : 5px;
    border-bottom : 1px solid #fb5f33;
    font-size : 14px;
    margin-bottom : 35px;
}

article > .content p{
    margin-bottom : 30px;
}

article .attachment{
    border : 1px solid #d6d6d6;
    border-top : 2px solid #fb5f33;
}

article .attachment .title{
    border-bottom : 1px solid #e8e8e8;
    height : 60px;
    display : flex;
    align-items: center;
    justify-content: space-between;
    padding-left : 26px;
    padding-right : 10px;
}

article .attachment .title h3{
    font-size : 15px;
    color : #fb5f33;
    font-weight: 800;
}

article .attachment .title h3:before{
    width : 0;
    margin-right : 0;
}

article .attachment .title button {
    width : 160px;
    font-size : 14px;
    font-weight : 700;
    color : #999;
}

article .attachment-content{
    color : #7a797d;
    font-size : 13px;
    font-weight : 700;
    display : flex;
    align-items: center;
    padding-left: 26px;
}

article .attachment-content ul{
    flex-wrap : wrap;
    padding : 15px 0;
}

article .attachment-content i{
    display : inline-block;
    margin-right : 10px;
}

article .attachment-content li a{
    display : flex;
    align-items: center;
    margin-right : 35px;
    margin-bottom : 15px;
}

i.download{
    margin-right : 25px;
}

article .attachment + button {
    margin : 45px auto 20px;
    display : flex;
    font-size : 16px;
    color : #999;
    font-weight : 700;
    width : 160px;
    height : 50px;
    justify-content : center;
}

i.menu-bars{
    margin-right : 15px;
}
