.search-wrap .btn-wrap button{
    width : auto;
    height : auto;
}

.search-wrap .btn-wrap button.btn-card-list{
    margin-right : 15px;
}

.card-list{
    border-top : 2px solid #fb5f33;
    padding-top : 25px;
}

.card-list ul{
    display : flex;
    flex-wrap : wrap;
}

.card-list ul li{
    margin-right : 18px;
    margin-bottom : 25px;
    border : 1px solid #eaeaea;
    width : 232px;
}

.card-list ul li:nth-child(5n){
    margin-right : 0;
}

.card-list ul li .content{
    position : relative;
    height : 170px;
    padding : 20px 25px;
    border-bottom : 1px solid #e2e6e9;
}

.card-list ul li .content > div{
    height : 3em;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* 라인수 */
    -webkit-box-orient: vertical;
    overflow : hidden;
    text-overflow: ellipsis;
    word-wrap:break-word;
    line-height: 1.2em;
    height: 3.5em;
    font-size : 13px;
	cursor:pointer;
}

.card-list ul li .content button{
    position : absolute;
    bottom : 15px;
    right : 15px;
    font-size : 12px;
    color : #fff;
    background-color : #4a9faf;
    border-radius : 40px;
    width : 80px;
    height : 30px;
    display : flex;
    align-items: center;
    justify-content: center;
}

.card-list ul li .content button .search{
    margin-right : 10px;
}

.card-list ul li .btn-wrap{
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding : 0 30px;
    height : 60px;
}

.card-list ul li.add_card{
    display : flex;
    align-items: center;
    justify-content: center;
    background-color : #f0f1f3;
}

.pagination{
    margin-top : 45px;
}

.card-list.submenu-list ul li .content{
    height : 120px;
}
