.search-wrap .btn-wrap button{
    width : auto;
    height : auto;
}

.search-wrap .btn-wrap button.btn-card-list{
    margin-right : 15px;
}

tr.main .name {
    text-align: left;
    padding-left: 44px;
}

td div.name{
    justify-content: center;
}

tr.middle, tr.submenu{
    display : none;
}