.breadcrumb {padding-bottom:0; margin-bottom:0;}
.content-wrap aside {width:250px; padding-right:15px; border-right:1px solid #ddd;}
.content-wrap article {width:1000px; padding-left:25px;}
.content-wrap.type2 aside {border-right:0; width:285px;}
.content-wrap.type2 article {width:940px; padding-left:0; padding-top:30px; margin:0; margin-right:25px;}
.content-wrap.type3 aside {border-right:0; width:285px;}
.content-wrap.type3 article {width:940px; padding-left:0; padding-top:30px; margin:0; margin-right:25px;}

h2{
    margin-bottom : 35px;
}
.search-wrap{
    margin-bottom : 18px;
    justify-content: space-between;
    align-items: center;
}
.search-form form{
    display : flex;
}

.search-form .select2{
    width : 150px;
    margin-right : 10px;
}

.search-form button{
    border: 1px solid #dee2e6;
    background-color : #fff;
    width : 33px;
    height : 33px;
    display : flex;
    align-items: center;
    justify-content: center;
    border-radius : 2px;
}
.search-wrap .btn-wrap button.btn-card-list{
    margin-right : 15px;
}
.table-wrap table {width:100%;}
.table-wrap .t-left {text-align:left; padding: 0 15px;}
.pdlr15 {padding:0 15px;}

aside {padding-top:10px;}
aside dl {border-top:1px solid #ddd; padding:10px 0 0;}
aside dl:first-child {border-top:0;}
aside dl dt {font-size:15px; font-weight:700; color:#000000; margin-bottom:10px;}
aside dl dd.flex {padding:10px 0 5px;}
aside .selected-list {min-height:30px;}
aside .selected-list li{
    color : #8d8d8d;
    background-color : #f5f5f5;
    position : relative;
    padding : 10px 10px;
    padding-right : 30px;
    word-break: keep-all;
    font-weight: 700;
    font-size : 13px;
    line-height : 17px;
    margin : 10px 0;
    border-radius : 5px;
    border : 1px solid #dcdcdc;
}

aside .selected-list li i{
    position : absolute;
    top : 0;
    right : 0;
    display : block;
    width : 28px;
    height : 100%;
    background-position: center;
    background-color : #a3a3a3;
    border-radius : 0 5px 5px 0;
    cursor : pointer;
}
aside .aside-btn-area {padding:5px 0 20px;}
aside .aside-btn-area button {width:112px; height:35px;}

aside .search-add-list dd {display:none; border-left:1px solid #dee2e6; border-right:1px solid #dee2e6; padding:10px 15px 15px;}
aside .search-add-list dd:last-child {border-bottom:1px solid #dee2e6;}
aside .search-add-list dt {background:#a3a3a3 url(../../img/icons/plus-bg-white.png) 200px 11px no-repeat; height:45px; cursor:pointer; text-align:left; border-bottom:1px solid #fff; font-size:15px; color:#fff; line-height:45px; padding:0 10px;}
aside .search-add-list dt.open-type {background-image:url(../../img/icons/minus-bg-white.png);}
aside .search-add-list dd.open-type {display:block;}
aside .search-add-list dd li {margin-bottom:8px;}
aside .search-add-list dd li .select2 {width:100% !important;}
aside .search-add-list .search-add {text-align:right; margin-top:10px;}
aside .search-add-list .search-add .btn-red-line {width:115px; height:35px; text-align:center; display:inline-block;}

.flex-wrap .radio-wrap{ width:45%; margin-bottom:10px;
    position :relative;
}
.flex-wrap .radio-wrap:nth-child(2n) {width:55%;}

.flex-wrap .checkbox-wrap{ width:55%; margin-bottom:10px;
    position :relative;
}
.flex-wrap .checkbox-wrap:nth-child(2n) {width:45%;}
.flex-wrap .checkbox-wrap.wd100 {width:100%;}
.flex-wrap .checkbox:checked + label{
    background-image : url('../../img/icons/preview/checked.png');
}

.mgt20 {margin:25px 0 0;}
.radio{
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width : 1px;
    height : 1px;
	display:none;
}

.radio + label{
    background-image : url('../../img/icons/question_card/check.png');
    background-repeat : no-repeat;
    background-size: 20px;
    background-position: left center;
    display: flex;
    align-items: center;
    height: 20px;
    padding-left: 30px;
	font-size:12px;
}

.radio:checked + label{
    background-image : url('../../img/icons/question_card/checked.png');
}

.content-wrap.type2 article .btn-wrap {border-top:0; margin-top:0; padding-top:0;}
.content-wrap.type3 article .btn-wrap {border-top:0; margin-top:0; padding-top:0;}
.content-wrap.type2 .content-list {padding:30px 0;}
.content-wrap.type2 .content-list .file {flex-grow:1;}
.content-wrap.type2 .content-list .froala {flex-grow:1;}
.content-wrap.type2 .content-list .answer-froala-wrap .froala, .content-wrap.type2 .content-list .floala, .froala .answer_froala {width:100%;}

.content-wrap.type2 input.input {
    width: 100%;
    height: 33px;
    margin-right: 10px;

    border-width: 1px;
    font-size: 13px;
    border : 0;
    outline : none;
    border-bottom: 1px solid #dee2e6;
}


.content-wrap article .search-list + .btn-white {margin-bottom:0;}
.content-wrap.type3 .flex h3 {margin-bottom:auto; width:140px;}
.content-wrap.type3 .cont-type3 {flex-grow:1; padding:40px 140px 40px 0; }
.content-wrap .cont-type3 .input{
    padding : 10px;
    font-size: 13px;
    border-radius: 5px;
    border : 0;
    border-bottom : 1px solid #e2e6e9;
    width : 100%;
    margin-bottom : 20px;
}


/* Masonry grid */
.masonry {
  transition: all .5s ease-in-out;
  column-gap: 10px;
  column-fill: initial;
}

/* Masonry item */
.masonry .brick {
  margin: 5px 0;
  display: inline-block; /* Fix the misalignment of items */
  vertical-align: top; /* Keep the item on the very top */
}

/* Masonry image effects */
.masonry .brick img {
  transition: all .5s ease-in-out;
  backface-visibility: hidden; /* Remove Image flickering on hover */
}

.masonry .brick:hover img {
  opacity: .75;
}

/* Bordered masonry */
.masonry.bordered {
  column-rule: 1px solid #eee;
  column-gap: 50px;
}

.masonry.bordered .brick {
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #eee;
}

/* Gutterless masonry */
.masonry.gutterless {
  column-gap: 0;
}

.masonry.gutterless .brick {
  margin-bottom: 0;
}

/* Masonry on tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .masonry {
    column-count: 2;
  }
}

/* Masonry on big screens */
@media only screen and (min-width: 1024px) {
  .desc {
    font-size: 1.25em;
  }

  .intro {
    letter-spacing: 1px;
  }

  .masonry {
    column-count: 3;
  }
}
.on-click {cursor:pointer;}
.multi-content {padding:0 40px 80px;}
.multi-top {margin-bottom:20px;}
.multi-top .multi-thumb-area {width:320px;}
.multi-top .multi-thumb-area .thumb {background-color : #f2f2f2; width : 320px; height : 215px; display : flex; align-items: center; justify-content: center; margin-bottom:10px;}
.multi-top .multi-thumb-area .btn-red-line {width:100%; height:35px; font-weight:bold; font-size:12px;}
.multi-top .multi-info {width:580px;}
.multi-top .multi-info .multi-title {margin-bottom:20px;}
.multi-top .multi-info .multi-title dt {font-size:15px; font-weight:600; color:#000; padding-top:5px;}
.multi-top .multi-info .multi-title button {width:96px; height:35px; margin-left:10px;}
.multi-top .multi-info .multi-title button i {margin-right:10px;}
.multi-top .multi-info .multi-disc {background:#f5f5f5; padding:20px 25px; height:70px;display : flex; align-items: center; font-size:12px; line-height:15px; color:#000000; font-weight:600; margin-bottom:25px; }
.multi-top .multi-count i {vertical-align:middle; margin-right:10px; margin-top:-5px;}

.multi-card .title {font-size:15px; font-weight:bold; color:#000000; height:40px;}
.multi-card .card-sec {border:1px solid #ddd; padding:15px 20px;}
.multi-card .card-sec .card-item {background:#f5f5f5; border-radius:5px; padding:8px; font-size:13px; letter-spacing:-0.03em; color:#8d8d8d; line-height:15px; font-weight:600; width:286px;}

.multi-statistics {margin-top:15px; position:relative;}
.multi-statistics .statistics-tab li {font-size:15px; font-weight:bold; color:#999999; width:95px; height:40px; line-height:30px; text-align:center; cursor:pointer; border-bottom:3px solid transparent;}
.multi-statistics .statistics-tab li.statistics-on {color:#000000; border-bottom:3px solid #000000;}
.multi-statistics .statistics-cont {opacity:0; filter:alpha(opacity=0); border:1px solid #e6e9ec; overflow:hidden; position:absolute; top:40px; left:0; width:100%;}
.multi-statistics .statistics-cont.current { position:relative; z-index:1; opacity:1; filter:alpha(opacity=100); top:0;}
#chart_div * {font-size:12px !important; font-weight:600;}
.multi-statistics .pie-chart {width:50%; margin:20px 0; padding:0 19px; position:relative;}
.multi-statistics .pie-chart .pie-tt {text-align:center; background:#f2f2f2; height:35px; line-height:35px; font-size:12px; color:#000; font-weight:600;}
.multi-statistics .pie-chart:nth-child(2) {border-left:1px solid #ddd;}
.multi-statistics .pie-chart .pie-disc {position:absolute; left:0; width:100%; text-align:center; font-size:12px; font-weight:bold; color:#000000; line-height:15px; top:245px; z-index:1;}



.multi-card-list ul{
    display : flex;
    flex-wrap : wrap;
	justify-content: space-between;
}
.multi-card-list ul li {width:308px; box-sizing:border-box; border:1px solid #eaeaea;}
.multi-card-list ul li:nth-child(n+4) {margin-top:25px;}
.multi-card-list ul li .card-info {border-bottom:1px solid #eaeaea; padding:0 18px;}
.multi-card-list ul li .card-info span.date {font-size:12px; color:#aaaaaa; line-height:35px;}
.multi-card-list ul li .card-info span.name {font-size:13px; color:#000000; line-height:35px;}
.multi-card-list ul li .card-etc {padding:0 18px; height:50px;}
.multi-card-list ul li .card-etc .label {width:68px; height:26px; border-radius:20px; text-align:center; background:#959fb1; font-size:13px; color:#fff; letter-spacing:-0.03em; line-height:26px; }
.multi-card-list ul li .card-etc .etc-btn {width:125px; display : flex; justify-content: space-between;}
.multi-card-list ul li .card-cont {padding:0 18px 20px; cursor:pointer;}
.multi-card-list ul li .card-cont .thumb {background-color : #f2f2f2; width : 270px; height : 152px; display : flex; align-items: center; justify-content: center; margin-bottom:10px;}
.multi-card-list ul li .card-cont .thumb.type-audio {background-color : #f0d4d9;}
.multi-card-list ul li .card-cont .multi-data-code {font-size:14px; color:#000; margin-bottom:5px; font-weight:600;}
.multi-card-list ul li .card-cont .multi-data-name {padding:10px;  background:#fbf7f5; border-radius:5px; }
.multi-card-list ul li .card-cont .multi-data-name .t-ellipsis {font-size:13px; line-height:18px; color:#222; font-weight:600;max-height:36px; overflow:hidden;  text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; /* 라인수 */ -webkit-box-orient: vertical; word-wrap:break-word;}
.multi-card-list ul li .card-cont .multi-data-list .data-item {padding:10px;  background:#f5f5f5; border-radius:5px; margin-top:10px; }
.multi-card-list ul li .card-cont .multi-data-list .data-item .t-ellipsis {font-size:13px; line-height:18px; color:#8d8d8d; letter-spacing:-0.03em; max-height:36px; overflow:hidden;  text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; /* 라인수 */ -webkit-box-orient: vertical; word-wrap:break-word;}

.search{
    position : relative;
}
.search .search-input {border:0; border-bottom:1px solid #dee2e6; width:100%; font-size:13px; line-height:33px; height:34px; box-sizing:border-box; padding:0 7px;}
.search-sub{
    display : none;
    padding : 15px;
    border : 1px solid #e6e9ec;
    height : 282px;
    overflow : scroll;
    background-color : #fff;
    position  :absolute;
    width : 100%;
    z-index : 1;
	min-width:400px;
}

.search-sub li{
    cursor : pointer;
    margin-bottom : 15px;
    font-size : 13px;
    color : #7a797d;
}

.search-sub li:last-child{
    margin-bottom : 0;
}

.search-sub li span:after{
    content : ' > ';
}
.search-sub li span:last-child:after{
    content : '';
}
.my-datepicker >>> div > input {
    padding: 10px !important;
    background: black !important;
    height: 35px;
    border-radius: 10px;
    text-align: center;
    width: 250px;
}