.breadcrumb{
    border : 0;
    padding-bottom : 0;
}

section nav{
    display : flex;
    justify-content: space-between;
    border-bottom : 1px solid #e6e9ec;
}

section nav ul{
    display : flex;
    font-size : 15px;
}

section nav ul li{
    font-size : 15px;
    padding : 0 25px;
    padding-bottom : 15px;
    text-align : center;
    color : #999;
    font-weight : 700;
}

section nav ul li.on{
    color : #000;
    border-bottom : 3px solid;
}

section .group_breadcrumb{
    color : #858585;
}

.content-wrap .form-contents .btn-wrap {margin-top:50px;}
.content-wrap .form-contents .btn-wrap button{
    height : 50px;
}

.content-wrap .form-contents .btn-white.prev{
    width : 135px;
}

.content-wrap .form-contents .btn-gray.delete{
    width : 105px;
}

.content-wrap .form-contents .btn-red.next{
    width : 175px;
}

.content-wrap .form-contents .btn-wrap button{
    font-size : 16px;
    font-weight: 700;
}


.content-wrap .form-contents button.prev i{
    margin-right : 10px;
}

.content-wrap .form-contents button.next i{
    margin-right : 10px;
}


.card_edit {padding:0 50px 50px; height:100%;}
.card_edit aside {width:285px; padding:0; border-left:0;}
.card_edit article {width:940px; height:100%; overflow-y:auto;}
.card_edit aside .selected-list { height:770px; overflow-y:auto;}
.card_edit article .card-content {width:620px; margin:0 auto;}
#popup-modal2 .card_edit aside .btn-wrap {display:block; margin-bottom:10px; margin-top:0;}
#popup-modal2 .card_edit aside .btn-wrap button {width:100%; height:50px; font-size:16px; font-weight:600; margin-bottom:10px;}
.card_edit aside strong{
    font-size : 15px;
    border-bottom : 1px solid #e2e6e9;
    height : 45px;
    width : 100%;
    display : flex;
    align-items: center;
    justify-content: space-between;
}

.card_edit aside .essential ul{
    margin-top: 15px;
    font-weight: 700;
    font-size: 13px;
    word-break: keep-all;
    display : none;
}

.card_edit aside .essential li {
    border: 1px solid #ebd4cc;
    padding: 10px 15px;
    background-color: #fbf7f5;
    margin-bottom: 5px;
    border-radius: 5px;
}

.card_edit aside .selected-list li{
    color : #8d8d8d;
    background-color : #f5f5f5;
    position : relative;
    padding : 10px 20px;
    padding-right : 30px;
    word-break: keep-all;
    font-weight: 700;
    font-size : 13px;
    line-height : 17px;
    margin : 10px 0;
    border-radius : 5px;
    border : 1px solid #dcdcdc;
}

.card_edit aside .selected-list li i{
    position : absolute;
    top : 0;
    right : 0;
    display : block;
    width : 28px;
    height : 100%;
    background-position: center;
    background-color : #a3a3a3;
    border-radius : 0 5px 5px 0;
    cursor : pointer;
}

.card_edit .btn-white.plus{
    font-size: 14px;
    color: #fb8833;
    border: 1px solid;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-weight: 700;
}

/* 검색 sub */
.card_edit .search{
    position : relative;
}
.card_edit .search-sub{
    display : none;
    padding : 15px;
    border : 1px solid #e6e9ec;
    height : 282px;
    overflow : scroll;
    background-color : #fff;
    position  :absolute;
    width : 100%;
    z-index : 1;
}

.card_edit .search-sub li{
    cursor : pointer;
    margin-bottom : 15px;
    font-size : 13px;
    color : #7a797d;
}

.card_edit .search-sub li:last-child{
    margin-bottom : 0;
}

.card_edit .search-sub li span:after{
    content : ' > ';
}
.card_edit .search-sub li span:last-child:after{
    content : '';
}
.card_edit .search .search-input{
    padding-left : 30px;
    padding-bottom : 15px;
    border : 0;
    width : 100%;
    border-bottom : 1px solid #e2e6e9;
    background-image : url('../../img/icons/search.png');
    background-size : 15px;
    background-repeat : no-repeat;
    background-position : left top;
    margin-bottom : 10px;
}
.card_edit .search-type2 {position:relative;}
.card_edit .search-type2 .search-input{
    padding-left : 15px;
    padding-bottom : 15px;
	padding-top:2px;
    border : 0;
    width : calc(100% - 40px);
    border-bottom : 1px solid #e2e6e9;
    background-repeat : no-repeat;
    background-position : left top;
    margin-bottom : 10px;
}
.card_edit .search-type2 .bth-search{
    width:33px; height:34px;
	border:1px solid #dee2e6; border-radius:3px;
    background-image : url('../../img/icons/search.png');
    background-size : 15px;
    background-repeat : no-repeat;
    background-position : center;
	font-size:0; line-height:0;
   }

.card_edit .search-list{
    margin-bottom : 30px;
}

.content-wrap article .search-list ul li{
    height : 45px;
    display : flex;
    align-items : flex-end;
    /* padding-bottom : 10px;
    padding-left : 6px; */
    font-size : 13px;
    position : relative;
    cursor : pointer;
}
.card_edit .card-sec {margin-bottom:50px;}
.card_edit .card-sec:last-child {margin-bottom:0;}
.card_edit .card-sec h3 {margin-bottom:25px;}
.card_edit .card-sec .input{
    padding : 10px;
    font-size: 13px;
    border-radius: 5px;
    border : 0;
    border-bottom : 1px solid #e2e6e9;
    width : 100%;
    margin-bottom : 20px;
}

.card_edit .card-sec ul.click-btn{
    display : flex;
    flex-wrap: wrap;
   }

.card_edit .card-sec  ul.click-btn li{
    border : 1px solid #e6e9ec;
    border-radius : 5px;
    width : 295px;
    height : 60px;
    margin-left : 6px;
    margin-bottom : 10px;
    font-size : 13px;
    font-weight : 700;
    display : flex;
    align-items: center;
    justify-content: center;
    flex : 1;
    cursor : pointer;
}

.card_edit .card-sec  ul.click-btn li.on{
    color : #fb8833;
    border: 1px solid #fb8833;
    box-shadow: 1px 5px 7px 0px #dedede;
}

.card_edit .card-sec .level-stick > div, .card_edit .card-sec  .level-stick-label > div{
    width : 140px;
    display : flex;
    flex-direction: column;
    flex-wrap : wrap;
}

.card_edit .card-sec .level-stick, .level-stick-label{
    padding-left : 36px;
    margin-bottom : 10px;
}

.card_edit .card-sec #level-bar{
    /* width : 596px; */
    width : calc(596px + 9px);
    position : relative;
}

.card_edit .card-sec .level-stick > div{
    border-left : 1px solid #e6e9ec;
    height : 18px;
    display : flex;
    align-items: center;
    justify-content: center;
}

.card_edit .card-sec .level-stick > div > span{
    display : inline-block;
    width : 100%;
    height : 9px;
    background-color : #f0f1f3;
    position  : relative;
}

.card_edit .card-sec .level-stick > div > span > span:first-child{
    position: absolute;
    left :-5px;
    top : 0;
    cursor : pointer;
    content : '';
    display : block;
    width : 10px;
    height : 100%;
}

.card_edit .card-sec .level-stick > div > span > span:last-child{
    position: absolute;
    right :-5px;
    top : 0;
    cursor : pointer;
    content : '';
    display : block;
    width : 10px;
    height : 100%;
}

.card_edit .card-sec .level-stick .circle{
    content : '';
    display : block;
    width : 18px;
    height : 18px;
    border-radius : 50%;
    background-color : #fb8833;
    cursor : move;
    transform: translateX(-50%);
    position : absolute;
    top : 0;
}

.card_edit .card-sec .level-stick-label{
    font-size : 13px;
    color : #222;
    font-weight: 700;
    margin-bottom : 30px;
}


.card_edit .card-sec .level-stick-label > div:last-child{
    width: auto !important;
    transform : translateX(-50%);
    margin-right: -60px;
    white-space: nowrap;
}

.card_edit .card-sec .level-stick-label > div:first-child{
    width : 163px;
}

.card_edit .card-sec .level-stick-label > div{
    display : block;
    width : 140px !important;
    cursor : pointer;
}

.card_edit .card-sec .level-stick-label > div > span{
    display: inline-block;
    transform : translateX(-50%);
}

.card_edit .card-sec .level-stick-label > div:last-child span{
    transform : translateX(0);
}

.card_edit .card-sec .search-list ul li{
    height : 45px;
    display : flex;
    align-items : flex-end;
    /* padding-bottom : 10px;
    padding-left : 6px; */
    font-size : 13px;
    position : relative;
    cursor : pointer;
}

/* Masonry grid */
.masonry {
  transition: all .5s ease-in-out;
  column-gap: 10px;
  column-fill: initial;
}

/* Masonry item */
.masonry li {
  margin: 5px 0;
  display: inline-block; /* Fix the misalignment of items */
  vertical-align: top; /* Keep the item on the very top */
}

/* Masonry image effects */
.masonry li img {
  transition: all .5s ease-in-out;
  backface-visibility: hidden; /* Remove Image flickering on hover */
}

.masonry li:hover img {
  opacity: .75;
}

/* Bordered masonry */
.masonry.bordered {
  column-rule: 1px solid #eee;
  column-gap: 50px;
}

.masonry.bordered li {
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #eee;
}

/* Gutterless masonry */
.masonry.gutterless {
  column-gap: 0;
}

.masonry.gutterless li {
  margin-bottom: 0;
}

/* Masonry on tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .masonry {
    column-count: 2;
  }
}

/* Masonry on big screens */
@media only screen and (min-width: 1024px) {
  .desc {
    font-size: 1.25em;
  }

  .intro {
    letter-spacing: 1px;
  }

  .masonry {
    column-count: 2;
  }
}

