.table-wrap ul {
    padding-bottom: 20px;
    padding-top: 20px;
}

table tbody tr {
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
}

.last:last-child {
    border-left: 0px solid #dee2e6;
    border-right: 0px solid #dee2e6;
}

.title_table {
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
}

.modal-label {
    background-position: center !important;
}

.btn-check {
    border: 1px solid #dee2e6;
    padding: 5px;
    border-radius: 10px;
    margin-left: 5px;
    width: 17%;
}
.btn-check-big{
    border: 1px solid #dee2e6;
    padding: 5px;
    border-radius: 10px;
    margin-left: 5px;
    width: auto;
}
.btn-check-big{
    border: 1px solid #dee2e6;
    padding: 5px;
    border-radius: 10px;
    margin-left: 5px;
    width: 36%;
}
.btn-check-auto{
    border: 1px solid #dee2e6;
}
.btn-check-small {
    border: 1px solid #dee2e6;
    padding: 5px;
    border-radius: 10px;
    margin-left: 5px;
    width: 15%;
}

td .on {
    color: #fb5f33;
    border: 1px solid #fb5f33;
    box-shadow: 1px 5px 7px 0px #dedede;
}

td .diff {
    color: #fb5f33;
    border: 1px solid #fb5f33;
    box-shadow: 1px 5px 7px 0px #dedede;
}

.btn-search {
    border: 1px solid #dee2e6;
    padding: 5px;
    margin-left: 10px;
    border-radius: 5px;
}

td .sh-radio-wrap {
    padding-left: 15px;
    margin-bottom: 0px;
}

.small-width {
    width: 30%;
    margin-left: 10px;
}

.xSmall-width {
    width: 160px;
    margin-left: 10px;
}

.sSmall-width {
    width: 60px;
    margin-left: 10px;
}

.xmedium-width {
    width: 170px;
}

.medium-width {
    width: 80%;
    margin-left: 10px;
}

.large-width {
    width: 300px;
}

.xlarge-width {
    width: 86.5%;
}

.margin20 {
    margin-left: 20px;
}
.margin10 {
    margin-left: 10px;
}

.ul-pad {
    padding-bottom: 10px;
}

.ul-text {
    font-size: 14px;
}

.width90 {
    width: 90%;
    height: 23px;
    margin-left: 10px;
}

.width88 {
    width: 86%;
    margin-left: 15px;
    height: auto;
    text-align: center;
}

.select-wrapper {
    height: 50px;
    border: 0px !important;
    font-size: 18px;
}


.last-td {
    border: 0px;
    padding: 0px !important;
    height: 0px;
}

button, button:focus, button:active {
    padding: 5px !important;
    /*border: 1px solid #fb5f33;*/
    border-radius: 10px;
}


.btn-hide {
    border: 1px solid #dee2e6;
    padding: 5px;
    width: 200px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.displaynone {
    display: none;
}

.displayblock {
    display: block;
}


.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: table;
    transition: opacity 0.3s ease;
}

.modal-wrapper {
    display: table-cell;
    /*vertical-align: middle;*/
}

.modal-container {
    width: 900px;
    margin: 0px auto;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
}

.modal-header {
    padding: 10px;
    font-size: 15px;
    /*background: aliceblue;*/
    height: 60px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: 1px solid #dee2e6;
    text-align: center;
}

.modal-header h4 {
    margin-top: 0;
    color: #42b983;
}

.modal-header p {
    font-size: 18px;
    margin-top: 10px;
}

.modal-body {
    margin: 0px 0;
}

.modal-footer {
    height: auto;
    padding: 15px;
    /*background: #999999;*/
    justify-content: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top: 1px solid #dee2e6;
}

.modal-search > input {
    width: 290px;
    padding-left: 10px;
}

.achievementCodeSpan {
    padding: 5px;
    background: #00ffff;
    font-size: 13px;
}

.modal-default-button {
    padding: 5px;
    background: #fff;
    border-radius: 15px;
    width: 90px;
    text-align: center;
    border: 1px solid #dee2e6;
}

.modal-search {
    padding-left: 20px;
    padding-top: 10px;
}

.modal-table {
    padding: 20px;
    overflow: auto;
    max-height: 400px;
    min-height: 350px;
}

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.margin-left {
    margin-left: 20px;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.btn-blue {
    width: 165px;
    height: 50px;
    color: #FFF;
    border: 1px solid;
    background: #fb5f33;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
}

.btn-border-red {
    width: 95%;
    height: 50px;
    font-size: 16px;
    font-weight: 700;
    color: #fb5f33;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    border: 2px solid #fb5f33;
    border-radius: 2px;
}

.btn-blue-large {
    width: 95%;
    height: 50px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    background-color: #fb5f33;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    border: 2px solid #fb5f33;
    border-radius: 2px;
}

.btn-white-large {
    width: 100%;
    height: 60px;
    font-size: 16px;
    font-weight: 700;
    color: #000;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    border: 2px solid #999999;
    border-radius: 2px;
}

.red {
    color: #fb5f33;
    margin-left: 10px;
}

.showKeyword {
    padding: 5px;
    color: #fff;
    background: #fb5f33;
    margin-left: 10px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 100ms ease-in;
    -moz-transition: opacity 100ms ease-in;
    transition: opacity 100ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}

.modalDialog > div {
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
    width: 600px;
    max-width: calc(100% - 0.01px) !important;
    transition: .3s linear;
    transition-property: opacity,transform;
    opacity: 1;
    top: 32px;
}

.modelclose {
    font-family: Arial, Helvetica, sans-serif;
    background: #fb5f33;
    color: #fff;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 34px;
    height: 34px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
    padding-top: 5px;
}

.modelclose:hover {
    background: #fb5f33;
}

.removeKeyword {
    padding: 2px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 3px;
}

