.wrap{
    padding : 50px;
}

.breadcrumb{
    border : 0;
    padding-bottom : 0;
}

section nav{
    display : flex;
    justify-content: space-between;
    border-bottom : 1px solid #e6e9ec;
}

section nav ul{
    display : flex;
    font-size : 15px;
}

section nav ul li{
    font-size : 15px;
    padding : 0 25px;
    padding-bottom : 15px;
    text-align : center;
    color : #999;
}

section nav ul li.on{
    color : #000;
    border-bottom : 3px solid;
}

section .group_breadcrumb{
    color : #858585;
}

/* section .content-wrap{
    padding : 35px 0;
} */

section .content{
    margin-right : 25px;
    margin-bottom : 50px;
    flex : 1;
    position : relative;
}

section .content .btn-right{
    position : absolute;
    right : 0;
    top : 0;
}

section .content button.right{
    width : 40px;
    height : 40px;
    display : flex;
    justify-content: center;
    align-items: center;
    background-color : #a3a3a3;
    border : 0;
}

section .content article{
    padding: 50px 0;
    border-bottom : 1px solid #eaeaea;
}

section .content article h3{
    margin-bottom : 15px;
}

section .content article ul{
    display : flex;
    flex-wrap: wrap;
}

section .content article ul li{
    border : 1px solid #e6e9ec;
    border-radius : 5px;
    width : 295px;
    height : 60px;
    margin-left : 8px;
    font-size : 13px;
    font-weight : 700;
    display : flex;
    align-items: center;
    justify-content: center;
}

section .content article ul li:nth-child(3n+1){
    margin-left : 0;
}

/* aside */
aside{
    width : 285px;
}

aside dt{
    font-size : 15px;
    font-weight : 700;
    padding-bottom : 15px;
    border-bottom : 1px solid #e2e6e9;
}

aside dl ul{
    margin-top : 15px;
    font-weight: 700;
    font-size : 13px;
}

aside dl li{
    border : 1px solid #ebd4cc;
    padding : 10px 15px;
    background-color : #fbf7f5;
    margin-bottom : 5px;
    border-radius : 5px;
}